<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock3

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [ ]:
## Nạp toàn bộ thư viện
# from vnstock3 import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock3 import Vnstock

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [ ]:
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

2024-06-21 02:33:30,770 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

## Listing: Liệt kê danh sách chứng khoán

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [ ]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
stock.listing.all_symbols()

     ticker                                         organ_name
0       A32                                 Công ty Cổ phần 32
1       AAA                  Công ty Cổ phần Nhựa An Phát Xanh
2       AAM                    Công ty Cổ Phần Thủy Sản MeKong
3       AAS            Công ty Cổ phần Chứng khoán SmartInvest
4       AAT        Công ty Cổ phần Tập đoàn Tiên Sơn Thanh Hóa
...     ...                                                ...
1593    XPH                    Công ty Cổ phần Xà phòng Hà Nội
1594    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
1595    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
1596    YEG                     Công ty Cổ phần Tập đoàn Yeah1
1597    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...

[1598 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [ ]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
stock.listing.symbols_by_exchange()

,symbol,id,type,exchange,en_organ_name,en_organ_short_name,organ_short_name,organ_name
0,YTC,8425620,STOCK,UPCOM,Ho Chi Minh City Medical Import Export Joint S...,YTECO,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1,YEG,8424579,STOCK,HSX,Yeah1 Group Corporation,Yeah1 Group,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1
2,YBM,8424470,STOCK,HSX,Yen Bai Industry Mineral Joint Stock Company,Yen Bai Industry Mineral,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3,YBC,8425710,STOCK,UPCOM,YenBai Cement and Minerals Joint Stock Company,YenBai Cement and Minerals,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4,XPH,8425864,STOCK,UPCOM,Hanoi Soap Joint Stock Company,Hanoi Soap,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội
...,...,...,...,...,...,...,...,...
2474,AAS,8425599,STOCK,UPCOM,Smart Invest Securities Joint Stock Company,SmartInvest Securities,Chứng khoán SmartInvest,Công ty Cổ phần Chứng khoán SmartInvest
2475,AAM,8424957,STOCK,HSX,Mekong Fisheries Joint Stock Company,Mekong Fisheries,Thủy sản Mekong,Công ty Cổ Phần Thủy Sản MeKong
2476,AAH,13216673,STOCK,UPCOM,Hop Nhat Joint Stock Company,Hop Nhat Coal,Than Hợp Nhất,Công ty Cổ phần Hợp Nhất
2477,AAA,8424464,STOCK,HSX,An Phat Bioplastics Joint Stock Company,An Phat Bioplastics,An Phát Bioplastics,Công ty Cổ phần Nhựa An Phát Xanh
2478,A32,8425330,STOCK,UPCOM,32 Joint Stock Company,32 Company,Công ty 32,Công ty Cổ phần 32

### Liệt kê mã CP theo ngành icb

In [ ]:
stock.listing.symbols_by_industries()

,symbol,organ_name,en_organ_name,icb_name3,en_icb_name3,icb_name2,en_icb_name2,icb_name4,en_icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,HIO,Công ty Cổ Phần Helio Energy,Helio Energy Joint Stock Company,Sản xuất & Phân phối Điện,Electricity,"Điện, nước & xăng dầu khí đốt",Utilities,Sản xuất & Phân phối Điện,Conventional Electricity,CT,7000,7500,7530,7535
1,CST,Công ty Cổ phần Than Cao Sơn - TKV,Cao Son Coal Joint Stock Company,Khai khoáng,Mining,Tài nguyên Cơ bản,Basic Resources,Khai thác Than,Coal,CT,1000,1700,1770,1771
2,SGI,Công ty Cổ phần Đầu tư phát triển Sài Gòn 3 Group,Sai Gon 3 Group Investment Development Joint S...,Hàng cá nhân,Personal Goods,Hàng cá nhân & Gia dụng,Personal & Household Goods,Hàng May mặc,Clothing & Accessories,CT,3000,3700,3760,3763
3,TOS,Công ty Cổ phần Dịch vụ biển Tân Cảng,Tan Cang Offshore Services Joint Stock Company,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",Dầu khí,Oil & Gas,Thiết bị và Dịch vụ Dầu khí,Oil Equipment & Services,CT,0001,0500,0570,0573
4,DSD,Công ty cổ phần DHC Suối Đôi,DHC Suoi Doi Corporation,Du lịch & Giải trí,Travel & Leisure,Du lịch và Giải trí,Travel & Leisure,Dịch vụ giải trí,Recreational Services,CT,5000,5700,5750,5755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,VNA,Công ty Cổ phần Vận tải biển Vinaship,Vinaship Joint Stock Company,Vận tải,Industrial Transportation,Hàng & Dịch vụ Công nghiệp,Industrial Goods & Services,Vận tải Thủy,Marine Transportation,CT,2000,2700,2770,2773
1588,VNH,Công ty Cổ phần Đầu tư Việt Việt Nhật,Viet Viet Nhat Investment Corporation,Sản xuất thực phẩm,Food Producers,Thực phẩm và đồ uống,Food & Beverage,Nuôi trồng nông & hải sản,Farming & Fishing,CT,3000,3500,3570,3573
1589,VNR,Tổng Công ty Cổ phần Tái bảo hiểm Quốc gia Việ...,Viet Nam National Reinsurance Corporation,Bảo hiểm phi nhân thọ,Nonlife Insurance,Bảo hiểm,Insurance,Tái bảo hiểm,Reinsurance,BH,8000,8500,8530,8538
1590,GVR,Tập đoàn Công nghiệp Cao su Việt Nam - Công ty...,Viet Nam Rubber Group - Joint Stock Company,Hóa chất,Chemicals,Hóa chất,Chemicals,"Nhựa, cao su & sợi",Commodity Chemicals,CT,1000,1300,1350,1353
1591,VRE,Công ty Cổ phần Vincom Retail,Vincom Retail Joint Stock Company,Bất động sản,Real Estate Investment & Services,Bất động sản,Real Estate,Bất động sản,Real Estate Holding & Development,CT,8000,8600,8630,8633

### Danh sách cổ phiếu theo nhóm

In [ ]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
stock.listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    MBB
11    MSN
12    MWG
13    PLX
14    POW
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh sách mã ngành theo mã icb

In [ ]:
stock.listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
151,Viễn thông,Telecommunications,6000,1
152,Tiện ích Cộng đồng,Utilities,7000,1
153,Tài chính,Financials,8000,1
154,Ngân hàng,Banks,8301,1
155,Công nghệ Thông tin,Technology,9000,1

## Quote: Giá chứng khoán

#### Giá lịch sử

In [ ]:
df = stock.quote.history(start='2024-01-01', end='2024-06-21', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
109 2024-06-14  24.70  24.90  24.60  24.60  11038000
110 2024-06-17  24.60  24.60  24.25  24.55   6368600
111 2024-06-18  24.70  24.70  24.40  24.55   5724600
112 2024-06-19  24.55  24.70  24.25  24.65   7612500
113 2024-06-20  24.55  24.85  24.40  24.80  10170900

[114 rows x 6 columns]

In [ ]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: VN30F1M
Loại tài sản: derivative

#### Intraday: dữ liệu khớp lệnh

In [ ]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='ACB', show_log=False)

                  time    price  volume match_type         id
99 2024-05-24 14:28:22  29450.0    1100        Buy  206443184
98 2024-05-24 14:28:24  29450.0     100        Buy  206443395
97 2024-05-24 14:28:24  29450.0     100        Buy  206443396
96 2024-05-24 14:28:25  29400.0    1700       Sell  206443461
95 2024-05-24 14:28:25  29400.0     300       Sell  206443462
..                 ...      ...     ...        ...        ...
4  2024-05-24 14:29:53  29400.0     500       Sell  206451609
3  2024-05-24 14:29:54  29450.0    1000        Buy  206451658
2  2024-05-24 14:29:58  29450.0    2600        Buy  206452172
1  2024-05-24 14:29:59  29450.0     400       Sell  206452207
0  2024-05-24 14:45:01  29250.0  801800    ATO/ATC  206453531

[100 rows x 5 columns]

In [ ]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  27700     553100          10100               0               543000
1  27650     605900         528900           77000                    0
2  27600    1314500         648700          568600                97200
3  27550    1560200         710800          849400                    0
4  27500     871600              0          871600                    0
5  27450       4500              0            4500                    0

## Trading: Giao dịch

### Bảng giá

In [ ]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   29500  25700     27600      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   3884050358  STOCK  8424512  ...       27600         9900       27550

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0        81600       27700       648900       27750       462900       27800


  ask_3_volume
0       473800

[1 rows x 36 columns]

In [ ]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                             0  \
listing symbol                                                             VCB
        ceiling                                                          98900
        floor                                                            86100
        ref_price                                                        92500
        stock_type                                                       STOCK
        exchange                                                           HSX
        last_trading_date
        listed_share                                                5589091262
        type                                                             STOCK
        id                                                             8424561
        organ_name           Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                92500
match   match_price                                                      92000
        match_vol                                                        66300
        accumulated_volume                                              823400
        accumulated_value                                                75820
        avg_match_price                                           92081.612825
        highest                                                          92700
        lowest                                                           91700
        match_type                                                     unknown
        foreign_sell_volume                                             315090
        foreign_buy_volume                                               41930
        current_room                                                 362441438
        total_room                                                  1676727378
bid_ask bid_1_price                                                      92000
        bid_1_volume                                                     26300
        bid_2_price                                                      91900
        bid_2_volume                                                      1100
        bid_3_price                                                      91800
        bid_3_volume                                                     10200
        ask_1_price                                                      92100
        ask_1_volume                                                      1000
        ask_2_price                                                      92200
        ask_2_volume                                                    151200
        ask_3_price                                                      92300
        ask_3_volume                                                      2100

                                                               1  \
listing symbol                                               ACB
        ceiling                                            29500
        floor                                              25700
        ref_price                                          27600
        stock_type                                         STOCK
        exchange                                             HSX
        last_trading_date
        listed_share                                  3884050358
        type                                               STOCK
        id                                               8424512
        organ_name           Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                  27600
match   match_price                                        27700
        match_vol                                         543000
        accumulated_volume                               4909800
        accumulated_value                                 135430
        avg_match_price                             27583.608294
        highest                                            27700
        lowest                                             27450
        match_type                                       unknown
        foreign_sell_volume                              1555600
        foreign_buy_volume                               1499947
        current_room                                           0
        total_room                                    1165215107
bid_ask bid_1_price                                        27650
        bid_1_volume                                      163200
        bid_2_price                                        27600
        bid_2_volume                                        9900
        bid_3_price                                        27550
        bid_3_volume                                       81600
        ask_1_price                                        27700
        ask_1_volume                                      648900
        ask_2_price                                        27750
        ask_2_volume                                      462900
        ask_3_price                                        27800
        ask_3_volume                                      473800

                                                                           2  \
listing symbol                                                           TCB
        ceiling                                                        51800
        floor                                                          45100
        ref_price                                                      48450
        stock_type                                                     STOCK
        exchange                                                         HSX
        last_trading_date
        listed_share                                              3522510811
        type                                                           STOCK
        id                                                           8424683
        organ_name           Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                              48450
match   match_price                                                    48500
        match_vol                                                    1013800
        accumulated_volume                                           7679300
        accumulated_value                                             370169
        avg_match_price                                         48203.482088
        highest                                                        48800
        lowest                                                         47900
        match_type                                                   unknown
        foreign_sell_volume                                          1066350
        foreign_buy_volume                                           2338741
        current_room                                                     259
        total_room                                                 792071780
bid_ask bid_1_price                                                    48450
        bid_1_volume                                                    2500
        bid_2_price                                                    48400
        bid_2_volume                                                  102000
        bid_3_price                                                    48350
        bid_3_volume                                                    1500
        ask_1_price                                                    48500
        ask_1_volume                                                  242800
        ask_2_price                                                    48550
        ask_2_volume                                                   31900
        ask_3_price                                                    48600
        ask_3_volume                                                   59500

                                                                             3
listing symbol                                                             BID
        ceiling                                                          52900
        floor                                                            46050
        ref_price                                                        49500
        stock_type                                                       STOCK
        exchange                                                           HSX
        last_trading_date
        listed_share                                                5700435900
        type                                                             STOCK
        id                                                             8424583
        organ_name           Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                49500
match   match_price                                                      49050
        match_vol                                                        58700
        accumulated_volume                                              827700
        accumulated_value                                                40799
        avg_match_price                                           49292.014015
        highest                                                          49750
        lowest                                                           48950
        match_type                                                     unknown
        foreign_sell_volume                                             198805
        foreign_buy_volume                                               15310
        current_room                                                 726864324
        total_room                                                  1710130770
bid_ask bid_1_price                                                      49050
        bid_1_volume                                                     11000
        bid_2_price                                                      49000
        bid_2_volume                                                     22100
        bid_3_price                                                      48950
        bid_3_volume                                                      8600
        ask_1_price                                                      49150
        ask_1_volume                                                      2600
        ask_2_price                                                      49200
        ask_2_volume                                                      2000
        ask_3_price                                                      49250
        ask_3_volume                                                      1700

## Company: Thông tin công ty

> Hiện tại chỉ có nguồn dữ liệu `TCBS` được hỗ trợ

In [ ]:
from vnstock3 import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

### Tổng quan

In [ ]:
company.overview()

,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,HOSE,Ngân hàng,NH,60034,0.3,3884.1,3884.1,2006,13655,3.6,0.044,0.026,0.197,ACB,https://www.acb.com.vn,289,8355

### Hồ sơ

In [ ]:
company.profile()

,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,Ngân hàng Thương mại Cổ phần Á Châu,Ngân hàng Thương mại Cổ phần Á Châu (ACB) đượ...,Ngày 24/04/1993: Ngân hàng Thương mại Cổ phầ...,Chuyển đổi số trong lĩnh vực tài chính - ngân...,Bất ổn vĩ mô: Kinh tế Việt Nam được đánh giá...,Huy động vốn (nhận tiền gửi của khách hàng) ...,Áp dụng công nghệ tiên tiến hiện đại trong c...

### Cổ đông

In [ ]:
company.shareholders()

                             share_holder  share_own_percent
0  Vietnam Enterprise Investments Limited             0.0548
1                           Trần Hùng Huy             0.0343
2                           Đặng Thu Thủy             0.0119
3                             Đặng Thu Hà             0.0103
4                         Nguyễn Thúy Lan             0.0096
5                       Nguyễn Thùy Hương             0.0090
6                             Trần Phú Mỹ             0.0083
7                         Nguyễn Đức Kiên             0.0046
8                           Đặng Phú Vinh             0.0037
9                                    Khác             0.1705

### Giao dịch nội bộ

In [ ]:
company.insider_deals()

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2023-12-21,None,Mua,5000.0,80900.0,0.115
1,2020-12-30,None,Bán,-2523.0,64175.0,0.406
2,2020-12-23,None,Bán,-15000.0,63913.0,0.411
3,2020-04-27,None,Mua,10000.0,43434.0,1.077
4,2019-11-29,None,Bán,-10000.0,54974.0,0.641
5,2019-07-26,None,Bán,-21000.0,50592.0,0.783
6,2019-07-22,None,Bán,-37000.0,50914.0,0.772
7,2019-01-16,None,Mua,10000.0,35704.0,1.526
8,2019-01-10,None,Mua,10000.0,35447.0,1.545
9,2018-12-03,None,Mua,10000.0,37380.0,1.413
10,2018-02-08,None,Mua,8000.0,40023.0,1.254
11,2018-01-29,None,Bán,-2829.0,43268.0,1.085
12,2018-01-05,None,Mua,10000.0,34360.0,1.625
13,2018-01-03,None,Bán,-5000.0,34933.0,1.582
14,2018-01-03,None,Bán,-1700.0,34933.0,1.582
15,2017-02-07,None,Mua,10000.0,24445.0,2.690
16,2016-01-12,None,Mua,10000.0,19310.0,3.671
17,2015-03-18,None,Bán,-4000.0,15845.0,4.693
18,2015-02-12,None,Mua,1000.0,16066.0,4.614
19,2014-02-12,None,Mua,10000.0,NaN,NaN

### Công ty con, liên kết

In [ ]:
company.subsidiaries()

                                     sub_company_name  sub_own_percent
0   Công ty TNHH Chứng khoán Ngân hàng Thương mại ...            1.000
1   Công Ty TNHH Một Thành Viên Kiều Hối Ngân Hàng...            1.000
2   Công ty TNHH MTV Cho Thuê Tài Chính Ngân Hàng ...            1.000
3       Công ty TNHH Tài Chính Việt Nam Tại Hồng Kông            1.000
4    Ngân Hàng TNHH MTV Ngoại Thương Việt Nam Tại Lào            1.000
5                       Công ty Chuyển Tiền Vcb Money            0.875
6                 Công ty TNHH Cao Ốc Vietcombank 198            0.700
7   Công Ty Liên Doanh Trách Nhiệm Hữu Hạn Vietcom...            0.520
8   Công ty Liên doanh Quản lý Quỹ đầu tư chứng kh...            0.510
9                  Công ty TNHH Bảo hiểm FWD Việt Nam            0.450
10      Công ty Liên Doanh Hữu Hạn Vietcombank-bonday            0.160
11           Tổng Công ty Cổ phần Bảo hiểm Petrolimex            0.080
12  Ngân hàng Thương mại Cổ phần Xuất nhập khẩu Vi...            0.045
13              Ngân hàng Thương mại Cổ phần Quân đội            0.044
14            Tổng Công ty Hàng không Việt Nam - CTCP            0.010
15  Tổng Công ty Cổ phần Khoan và Dịch vụ khoan Dầ...            0.002
16           Ngân hàng Thương mại Cổ phần Phương Đông            0.000

### Ban lãnh đạo

In [ ]:
company.officers()

            officer_name              officer_position  officer_own_percent
5      Nguyễn Thanh Tùng                 Tổng Giám đốc                  0.0
4      Nguyễn Thanh Tùng  Thành viên Hội đồng Quản trị                  0.0
7         Lê Thị Kim Nga  Thành viên Hội đồng Quản trị                  0.0
16   Nguyễn Thị Kim Oanh  Thành viên Hội đồng Quản trị                  0.0
9       Đỗ Thị Mai Hương      Thành viên Ban kiểm soát                  0.0
10         Lê Hoàng Tùng             Phó Tổng Giám đốc                  0.0
13         Đào Minh Tuấn             Phó Tổng Giám đốc                  0.0
18      La Thị Hồng Minh                Kế toán trưởng                  0.0
0          Đàm Lam Thanh                          None                  0.0
1       Đậu Thị Thúy Vân                          None                  0.0
2      Nghiêm Xuân Thành                          None                  0.0
3      Nguyễn Danh Lương                          None                  0.0
6          Nguyễn Mỹ Hào                          None                  0.0
8                Đào Hảo                          None                  0.0
11            Lê Thị Hoa                          None                  0.0
12       Nghiêm Thị Thúy                          None                  0.0
14       Nguyễn Hòa Bình                          None                  0.0
15        Trương Lệ Hiền                          None                  0.0
17  Phùng Nguyễn Hải Yến                          None                  0.0
19       PHẠM QUANG DŨNG                          None                  0.0

### Sự kiện

In [ ]:
company.events()

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,56.4,54.0,2566332,94400,300,0.003,0.050,VCB - Tổ chức ĐHĐCĐ thường niên 2024,AGME,2024-03-12 00:00:00,2024-04-27 00:00:00,2024-03-27 00:00:00,2024-03-26 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
1,52.0,61.0,2564026,89100,0,0.000,-0.027,"VCB - Niêm yết bổ sung 856,574,691 cổ phiếu",AIS,2023-08-31 00:00:00,2023-08-30 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
2,45.5,70.0,2563891,86300,-2100,-0.024,-0.026,VCB - Tổ chức ĐHĐCĐ bất thường 2023,EGME,2023-08-23 00:00:00,2023-10-06 00:00:00,2023-09-05 00:00:00,2023-08-31 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
3,61.2,56.0,2563509,88819,762,0.009,0.023,"VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 18,1%",ISS,2023-07-13 00:00:00,2023-07-25 00:00:00,2023-07-26 00:00:00,2023-07-25 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
4,57.3,82.0,2561470,78743,-423,-0.005,0.044,VCB - Tổ chức ĐHĐCĐ thường niên 2023,AGME,2023-03-01 00:00:00,2023-04-21 00:00:00,2023-03-21 00:00:00,2023-03-20 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
5,55.6,64.0,2560593,66889,-170,-0.003,0.053,VCB - Tổ chức ĐHĐCĐ bất thường 2023,EGME,2022-12-20 00:00:00,2023-01-30 00:00:00,2022-12-30 00:00:00,2022-12-29 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
6,45.6,46.0,2476530,68667,-2625,-0.037,-0.068,VCB - Tổ chức ĐHĐCĐ thường niên 2022,AGME,2022-03-15 00:00:00,2022-04-29 00:00:00,2022-03-28 00:00:00,2022-03-25 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
7,65.5,56.0,2446356,75356,-1694,-0.022,0.112,VCB - Niêm yết bổ sung 1.023.639.123 cổ phiếu,AIS,2022-01-28 17:47:09,2022-02-14 00:00:00,1753-01-01 00:00:00,1753-01-01 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Vi...
8,44.5,32.0,2395944,64962,-524,-0.008,0.020,VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 27.6%,ISS,2021-12-16 11:58:44,2021-12-22 00:00:00,2021-12-23 00:00:00,2021-12-22 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
9,44.5,32.0,2395943,64962,-524,-0.008,0.020,"VCB - Trả cổ tức Cả năm, 2020 bằng tiền 1200 V...",DIV,2021-12-16 09:00:00,2022-01-05 00:00:00,2021-12-23 00:00:00,2021-12-22 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
10,51.9,30.0,1611831,64306,-1246,-0.019,-0.043,VCB - Tổ chức ĐHĐCĐ thường niên 2021,AGME,2021-02-24 00:00:00,2021-04-23 00:00:00,2021-03-19 00:00:00,2021-03-18 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
11,NaN,65.0,1481291,63590,-1366,-0.021,0.140,"VCB - Trả cổ tức Cả năm, 2019 bằng tiền 800 VN...",DIV,2020-12-15 09:00:00,2021-01-08 00:00:00,2020-12-22 00:00:00,2020-12-21 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
12,NaN,44.0,1316877,43434,-390,-0.009,-0.018,VCB - Tổ chức ĐHĐCĐ thường niên 2020,AGME,2020-05-05 00:00:00,2020-06-26 00:00:00,2020-05-20 00:00:00,2020-05-19 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
13,NaN,86.0,1306563,58004,-580,-0.010,0.065,"VCB - Trả cổ tức Cả năm, 2018 bằng tiền 800 VN...",DIV,2019-12-24 09:00:00,2020-01-15 00:00:00,2019-12-31 00:00:00,2019-12-30 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...
14,NaN,58.0,1062568,38733,644,0.017,0.077,VCB - Tổ chức ĐHĐCĐ thường niên 2019,AGME,2019-02-21 00:00:00,2019-04-26 00:00:00,2019-03-18 00:00:00,2019-03-15 00:00:00,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...

### Tin tức

In [ ]:
company.news()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,41.4,50.0,91900.0,700.0,0.008,-0.028,11170634,VCB: Công bố đường dẫn BCTC riêng và HN Q1/2024,TCBS,2024-05-02 15:53:00
1,41.4,50.0,91900.0,700.0,0.008,-0.028,11170648,VCB: CBTT Biên bản họp và Nghị quyết ĐHĐCĐ th...,TCBS,2024-05-02 15:42:00
2,41.4,50.0,NaN,NaN,NaN,NaN,11168891,"ĐHCĐ 2024 Vietcombank (VCB): Lâu dài, bán lẻ v...",TCBS,2024-04-27 13:00:00
3,40.1,49.0,91200.0,200.0,0.002,-0.053,11168477,"VCB: Cập nhật, bổ sung tài liệu họp ĐHĐCĐ thư...",TCBS,2024-04-26 16:56:00
4,35.4,57.0,90600.0,100.0,0.001,-0.060,11160361,Vốn chủ sở hữu của 'anh cả' ngành ngân hàng tă...,TCBS,2024-04-22 08:59:00
5,35.4,51.0,90500.0,0.0,0.000,-0.022,11158655,VCB: Báo cáo tài chính Năm (Kỳ báo cáo từ 01/0...,TCBS,2024-04-19 09:58:00
6,36.9,50.0,90500.0,-500.0,-0.005,-0.027,11157646,VCB: Báo cáo thường niên năm 2023,TCBS,2024-04-17 15:44:00
7,47.9,40.0,96000.0,2200.0,0.023,0.000,11142101,VCB: CBTT Tài liệu họp ĐHĐCĐ thường niên năm ...,TCBS,2024-04-04 16:23:00
8,54.6,46.0,94500.0,-700.0,-0.007,-0.016,11138523,VCB: Thông báo thay đổi nhân sự công ty,TCBS,2024-04-02 18:14:00
9,53.4,36.0,95200.0,300.0,0.003,-0.022,11135850,VCB: Giải trình chênh lệch LNST năm 2023 so v...,TCBS,2024-04-01 14:05:00
10,58.2,70.0,96300.0,600.0,0.006,0.076,11129685,VCB: HĐQT phê duyệt chủ trương giao dịch mua ...,TCBS,2024-03-26 17:28:00
11,62.9,62.0,95000.0,-1000.0,-0.010,0.057,11117298,VCB: HĐQT phê duyệt giới hạn tiền gửi đối với...,TCBS,2024-03-14 16:51:00
12,62.9,62.0,95000.0,-1000.0,-0.010,0.057,11116499,Bloomberg: Ngân hàng Vietcombank (VCB) có thể ...,TCBS,2024-03-14 09:41:00
13,56.4,54.0,94400.0,300.0,0.003,0.050,11113325,VCB: Thông báo ngày ĐKCC để thực hiện quyền t...,TCBS,2024-03-12 09:20:00
14,73.1,70.0,97300.0,0.0,0.000,0.084,11103770,VCB: Nghị quyết HĐQT về việc điều chỉnh thời ...,TCBS,2024-03-01 15:58:00

### Cổ tức

In [ ]:
company.dividends()

   exercise_date  cash_year  cash_dividend_percentage issue_method
0       25/07/23       2023                     0.181        share
1       22/12/21       2022                     0.276        share
2       22/12/21       2020                     0.120         cash
3       21/12/20       2019                     0.080         cash
4       30/12/19       2018                     0.080         cash
5       05/10/18       2017                     0.080         cash
6       28/09/17       2016                     0.080         cash
7       09/09/16       2015                     0.100         cash
8       26/06/15       2014                     0.100         cash
9       18/06/14       2013                     0.120         cash
10      26/02/13       2012                     0.120         cash
11      24/02/12       2011                     0.120         cash
12      18/07/11       2011                     0.120        share
13      10/03/10       2009                     0.120         cash
14      01/12/08       2008                     0.120         cash

## Finance: Báo cáo tài chính

In [ ]:
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='VCI', source='VCI')

2024-05-25 08:52:50,561 - vnstock3.common.data.data_explorer - WARNING - Thông tin niêm yết & giao dịch sẽ được truy xuất từ TCBS

### Bảng cân đối kế toán

In [ ]:
stock.finance.balance_sheet(period='year', lang='vi')

,CP,Năm,Hàng tồn kho ròng,Tài sản lưu động khác,Giá trị ròng tài sản đầu tư,Tài sản dài hạn khác,Các quỹ khác,Các quỹ khác,Vốn Ngân sách nhà nước và quỹ khác,Vốn Ngân sách nhà nước và quỹ khác,...,NỢ PHẢI TRẢ (Tỷ đồng),TỔNG CỘNG TÀI SẢN (Tỷ đồng),Lợi thế thương mại (Tỷ đồng),Trả trước dài hạn (Tỷ đồng),Tài sản dài hạn khác (Tỷ đồng),Đầu tư dài hạn (Tỷ đồng),Tài sản cố định (Tỷ đồng),Phải thu dài hạn khác (Tỷ đồng),Phải thu về cho vay dài hạn (Tỷ đồng),Phải thu dài hạn (Tỷ đồng)
0,VCI,2023,0,194894059515,0,51610830106,0,0,0,0.0,...,9883905148184,17255134656525,0.0,7943878800,0,0,23425609453,0,0.0,0
1,VCI,2022,0,51841008271,0,54201919410,0,0,0,0.0,...,7747283145208,14242751316822,0.0,13290531600,0,0,23496558588,0,0.0,0
2,VCI,2021,0,153897953409,0,48333579135,0,0,0,0.0,...,10094401701730,16636264947117,0.0,10702485700,0,0,13155825424,0,0.0,0
3,VCI,2020,0,97527648804,0,50200524983,0,0,0,0.0,...,3860918605726,8382405125440,0.0,12950546970,0,0,14384201512,0,0.0,0
4,VCI,2019,0,165433739031,0,53010616665,0,0,0,0.0,...,3191354377816,7242960228473,0.0,17085900679,0,0,9907318916,0,0.0,0
5,VCI,2018,0,2684615898,0,59763924859,0,0,0,0.0,...,2867018192422,6509995923207,0.0,25494063880,0,0,18226354386,0,0.0,0
6,VCI,2017,0,118590746956,0,33742673168,0,0,0,0.0,...,3382616547959,6402011745204,0.0,2171535344,0,0,25326131092,0,0.0,0
7,VCI,2016,0,7607339062,0,23507511542,0,0,0,0.0,...,1833990056847,3110547766840,0.0,4433448206,0,0,9489824544,0,0.0,0
8,VCI,2015,0,92517941380,0,24968229303,0,0,0,0.0,...,1490549142167,2463346245759,0.0,9817929938,0,0,14899441202,0,0.0,0
9,VCI,2014,14179400,7528096736,0,30243761669,21941382767,0,0,0.0,...,1963437293579,2770320517032,0.0,14560154043,14160000000,13894101873,18390029859,0,0.0,0
10,VCI,2013,16677400,1377489195,0,30548750129,14656994434,0,0,NaN,...,1588138187619,2132287364715,NaN,16231644217,0,0,11027268785,0,NaN,0

In [ ]:
stock.finance.balance_sheet(period='quarter', lang='en').head()

,ticker,yearReport,lengthReport,Net Inventories,Other current assets,Investment in properties,Other non-current assets,Other Reserves,Other Reserves,Budget sources and other funds,...,LIABILITIES (Bn. VND),TOTAL ASSETS (Bn. VND),Good will (Bn. VND),Long-term prepayments (Bn. VND),Other long-term assets (Bn. VND),Long-term investments (Bn. VND),Fixed assets (Bn. VND),Other long-term receivables (Bn. VND),Long-term loans receivables (Bn. VND),Long-term trade receivables (Bn. VND)
0,VCI,2024,1,0,261218668090,0,54019497651,0,0,0,...,11367295476918,19544604126402,0.0,9017164629,0,0,21879259104,0,0.0,0
1,VCI,2023,4,0,194894059515,0,51610830106,0,0,0,...,9883905148184,17255134656525,0.0,7943878800,0,0,23425609453,0,0.0,0
2,VCI,2023,3,0,226429639030,0,51340225116,0,0,0,...,9625671689274,16917131786375,0.0,8522827154,0,0,21322591745,0,0.0,0
3,VCI,2023,2,0,52662044484,0,51038325192,0,0,0,...,7149696682829,14519562225164,0.0,9086601750,0,0,18824692495,0,0.0,0
4,VCI,2023,1,0,150707604182,0,52893628464,0,0,0,...,8130567126508,14998472092947,0.0,10948712591,0,0,20806365815,0,0.0,0

### Báo cáo lãi lỗ

In [ ]:
stock.finance.income_statement(period='year', lang='vi').head()

    CP   Năm  ...  Cổ đông của Công ty mẹ  Lãi cơ bản trên cổ phiếu
0  VCI  2023  ...            491904659394                         0
1  VCI  2022  ...            868978185802                      1999
2  VCI  2021  ...           1498718375328                      4502
3  VCI  2020  ...            768912289421                      4668
4  VCI  2019  ...            693180577268                      4240

[5 rows x 60 columns]

In [ ]:
stock.finance.income_statement(period='quarter', lang='en').head()

  ticker  yearReport  ...  Attributable to parent company  EPS_basis
0    VCI        2024  ...                    197756462393          0
1    VCI        2023  ...                    122950502675          0
2    VCI        2023  ...                    179003174655          0
3    VCI        2023  ...                    116896619351          0
4    VCI        2023  ...                     73054362713          0

[5 rows x 59 columns]

### Báo cáo lưu chuyển tiền tệ

In [ ]:
stock.finance.cash_flow(period='year').head()

    CP  ...  Tiền chi cho vay, mua công cụ nợ của đơn vị khác (Tỷ đồng)
0  VCI  ...                                                  0
1  VCI  ...                                                  0
2  VCI  ...                                                  0
3  VCI  ...                                                  0
4  VCI  ...                                                  0

[5 rows x 44 columns]

In [ ]:
stock.finance.income_statement(period='quarter', lang='en').head()

  ticker  yearReport  ...  Attributable to parent company  EPS_basis
0    VCI        2024  ...                    197756462393          0
1    VCI        2023  ...                    122950502675          0
2    VCI        2023  ...                    179003174655          0
3    VCI        2023  ...                    116896619351          0
4    VCI        2023  ...                     73054362713          0

[5 rows x 59 columns]

### Chỉ số tài chính

In [ ]:
stock.finance.ratio(period='year', lang='vi').head()

  Meta           ... Chỉ tiêu cơ cấu nguồn vốn
    CP   Năm Kỳ  ...                   Nợ/VCSH TSCĐ / Vốn CSH Vốn CSH/Vốn điều lệ
0  VCI  2023  5  ...                  1.340876       0.003178            1.684852
1  VCI  2022  5  ...                  1.192721       0.003617            1.484678
2  VCI  2021  5  ...                  1.543047       0.002011            1.495283
3  VCI  2020  5  ...                  0.853905       0.003181            1.033483
4  VCI  2019  5  ...                  0.787676       0.002445            0.926081

[5 rows x 37 columns]

In [ ]:
stock.finance.ratio(period='quarter', lang='en').head()

    Meta                         Chỉ tiêu định giá                           \
  ticker yearReport lengthReport               P/B Market Capital (Bn. VND)
0    VCB       2024            1          2.931225          508607304842000
1    VCB       2023            4          3.205992          528728033385200
2    VCB       2023            3          3.115219          495752394939400
3    VCB       2023            2          3.164272          480661848532000
4    VCB       2023            1          3.404580          492181723384000

                                                                    \
  Outstanding Share (Mil. Shares)        P/E       P/S P/Cash Flow
0                      5589091262  15.588653  7.649762   -3.384084
1                      5589091262  16.005957  7.807162  -13.718398
2                      5589091262  14.751702  7.039211    6.687242
3                      5589091262  14.834141  6.735315   10.304262
4                      4732516571  15.919692  7.044594    1.981862

                ... Chỉ tiêu hiệu quả hoạt động                         \
     EPS (VND)  ...        Fixed Asset Turnover Days Sales Outstanding
0  1535.132564  ...                         0.0                   None
1  1673.800903  ...                         0.0                   None
2  1300.554716  ...                         0.0                   None
3  1328.091214  ...                         0.0                   None
4  1898.870266  ...                         0.0                   None

                                                                  \
  Days Inventory Outstanding Days Payable Outstanding Cash Cycle
0                        0.0                      0.0       None
1                        0.0                      0.0       None
2                        0.0                      0.0       None
3                        0.0                      0.0       None
4                        0.0                      0.0       None

                     Chỉ tiêu cơ cấu nguồn vốn              \
  Inventory Turnover (ST+LT borrowings)/Equity Debt/Equity
0                0.0                       0.0    9.216413
1                0.0                       0.0   10.148315
2                0.0                       0.0    9.872063
3                0.0                       0.0   10.212240
4                0.0                       0.0   11.764083


  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.043710                       3.106303
1              0.045734                       3.015577
2              0.046732                       2.849184
3              0.049990                       2.719604
4              0.053450                       2.588227

[5 rows x 37 columns]