In [1]:
from agent.const import (
    ChatConfig,
    Text2SQLConfig,
    GEMINI_FAST_CONFIG,
    GPT4O_MINI_CONFIG,
    GPT4O_CONFIG,
    TEXT2SQL_FASTEST_CONFIG,
    TEXT2SQL_FAST_OPENAI_CONFIG,
    TEXT2SQL_DEEPSEEK_V3_CONFIG,
    TEXT2SQL_DEEPSEEK_V3_FAST_CONFIG
)

from agent.prompt.prompt_controller import (
    PromptConfig, 
    VERTICAL_PROMPT_BASE, 
    VERTICAL_PROMPT_UNIVERSAL,
    HORIZONTAL_PROMPT_BASE,
    HORIZONTAL_PROMPT_UNIVERSAL,
    FIIN_VERTICAL_PROMPT_UNIVERSAL,
)

from initialize import initialize_text2sql

/opt/miniconda3/envs/text2sql/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
2025-01-26 21:06:00,404 - INFO - PyTorch version 2.5.1 available.

In [2]:
import os

import logging
logging.basicConfig(
    level=logging.INFO,
    format='%(asctime)s - %(levelname)s - %(message)s'
)

In [3]:
text2sql_config = TEXT2SQL_DEEPSEEK_V3_CONFIG
prompt_config = VERTICAL_PROMPT_UNIVERSAL

In [4]:
text2sql = initialize_text2sql(text2sql_config, prompt_config)

2025-01-26 21:06:02,105 - INFO - Checking embedding server at http://localhost:8080/embed
2025-01-26 21:06:02,188 - INFO - Response embedding server: <Response [200]>
2025-01-26 21:06:02,188 - INFO - Using remote embedding server
2025-01-26 21:06:02,188 - INFO - Finish setup embedding
2025-01-26 21:06:02,189 - INFO - Checking embedding server at http://localhost:8081
2025-01-26 21:06:02,442 - INFO - Response embedding server: <Response [200]>
2025-01-26 21:06:02,444 - INFO - Found reranking server at: http://localhost:8081
2025-01-26 21:06:02,445 - INFO - Finish setup reranker, using reranker api
2025-01-26 21:06:02,462 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2025-01-26 21:06:02,552 - INFO - Finish setup db
2025-01-26 21:06:02,614 - INFO - Finish setup text2sql

postgres
Using OpenAI Wrapper with host https://api.deepseek.com
Using OpenAI Wrapper with host https://api.deepseek.com

In [13]:
question = "For the year 2022, what was the Return on Equity (ROE) for Vietcombank (VCB) and Techcombank (TCB)?"

In [14]:
his, err, table = text2sql.solve(question)

2025-01-26 21:11:41,713 - INFO - Get stock code based on company name response
2025-01-26 21:11:42,094 - INFO - HTTP Request: POST https://api.deepseek.com/chat/completions "HTTP/1.1 200 OK"
2025-01-26 21:11:44,835 - INFO - Completion time of deepseek-chat: 3.121119976043701s

CompletionUsage(completion_tokens=49, prompt_tokens=179, total_tokens=228, completion_tokens_details=None, prompt_tokens_details=PromptTokensDetails(audio_tokens=None, cached_tokens=64), prompt_cache_hit_tokens=64, prompt_cache_miss_tokens=115)

2025-01-26 21:11:45,642 - INFO - Time taken to find stock code similarity: 0.8059403896331787
2025-01-26 21:11:45,643 - INFO - Connecting to database postgres, postgres...
2025-01-26 21:11:46,474 - INFO - Connecting to database postgres, postgres...
2025-01-26 21:11:46,487 - INFO - Time taken to return mapping table: 0.8181347846984863

['ROLTOA', 'ROE', 'ROI', 'ROIC']
['ROLTOA', 'ROE', 'ROI', 'ROIC']
[]

2025-01-26 21:11:47,626 - INFO - HTTP Request: POST https://api.deepseek.com/chat/completions "HTTP/1.1 200 OK"
2025-01-26 21:12:00,289 - INFO - Completion time of deepseek-chat: 13.014074802398682s
2025-01-26 21:12:00,291 - INFO - Connecting to database postgres, postgres...
2025-01-26 21:12:00,336 - INFO - Time taken: 18.622678995132446s

CompletionUsage(completion_tokens=495, prompt_tokens=2860, total_tokens=3355, completion_tokens_details=None, prompt_tokens_details=PromptTokensDetails(audio_tokens=None, cached_tokens=2176), prompt_cache_hit_tokens=2176, prompt_cache_miss_tokens=684)
stock_code
company_name
en_company_name
industry
is_bank
is_securities
ratio_code
ratio_name

In [15]:
for tab in table:
    print(tab)
    print(tab.table)

Table(desc = Company Info)
  stock_code                                       company_name  \
0        VCB  Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
1        TCB    Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam

                                     en_company_name industry
0  Joint Stock Commercial Bank For Foreign Trade ...  Banking
1  Vietnam Technological And Commercial Joint Sto...  Banking
Table(desc = category_code_ratio)
  ratio_code        ratio_name
2        ROE  Return On Equity
Table(desc =  SQL 1 Result: ROE for Vietcombank (VCB) and Techcombank (TCB) in 2022 (Annual Report))
  stock_code  year  quarter category_code      data
0        TCB  2022        0           ROE  0.180176
1        VCB  2022        0           ROE  0.220567

In [17]:
for message in his:
    role = message['role']
    content = message['content']

    print(f"Role: {role}")
    print('=============================')
    print(content)
    print('=============================')

Role: system
=============================

    You are an expert in financial statement and database management. You will be asked to convert a natural language query into a SQL query. If time not mentioned, assume collecting data in Q3 2024.
    You will have the following database description:

    ### Database Description

    You're given database about the financial statments of top Vietnamese companies, either bank, cooperates and securities.

<overall_description>

All the data in the financial statments are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the
categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial statments, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).
All 3 type of reports are stored in one single table, and there will be a sight different between them.

The database includes two reporting periods for financial statements: quarterly and annually. Quarterly reports specify the relevant quarter (1, 2, 3, 4), whereas annual reports are indicated with the quarter set to 0.

</overall_description>

You are given 6 tables in the database. Here are the detailed descriptions of them in PostgreSQL format:

### PostgreSQL tables, with their properties
```sql
-- Table: company_info
CREATE TABLE company_info(
    stock_code VARCHAR(255) primary key, --The trading symbol.
    industry VARCHAR(255), --Current industry of company.
    exchange VARCHAR(255), -- The market where the stock is listed (e.g., HOSE, HNX)
    stock_indices VARCHAR(255), -- The stock index it belongs to (e.g., VN30, HNX30)
    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.
    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.
    issue_share int --Number of share issued.
);

-- Table: sub_and_shareholder
CREATE TABLE sub_and_shareholder(
    stock_code VARCHAR(255) NOT NULL,
    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)
    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),
    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),
    PRIMARY KEY (stock_code, invest_on)
);

-- Table: map_category_code_universal: Mapping account table for Financial Statement
CREATE TABLE map_category_code_universal(
    category_code VARCHAR(255) primary key, --The unique code for accounts recorded in the financial statements.
    en_caption VARCHAR(255), --The Accounts (Caption) for the `category_code`.
);

-- Table: financial_statement: Financial Statement data for each `stock_code`
CREATE TABLE financial_statement(
    stock_code VARCHAR(255) references company_info(stock_code),
    year int, -- The reported financial year
    quarter int, --  The quarter reported (contain value either 0, 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.
    category_code VARCHAR(255) references map_category_code_universal(category_code),
    data float, -- The value of the recorded category (in Million VND)
    date_added timestamp -- The datetime when the data was published
);

-- Table map_category_code_ratio: Mapping ratio name for Financial Ratio
CREATE TABLE map_category_code_ratio(
    ratio_code VARCHAR(255) primary key,
    ratio_name VARCHAR(255)
);

-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc
-- Same structure as `financial_statement`
CREATE TABLE financial_ratio(
    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),
    stock_code VARCHAR(255) references company_info(stock_code),
    year int,
    quarter int,
    data float,
    date_added timestamp -- The datetime when the data was published
)

```

Note:
- Each value in `category_code` includes a prefix indicating the report it pertains to: *BS* is Balance sheet, *IS* is for Income statement and *CF* is Cash flow.
- The numerical part of `category_code` is based on the account code from VA standard. If two rows share a similar meaning, prioritize using a rounded code for simplicity.
- Some accounts (`en_caption`) are specific to neither corporation, banks or securities firms, resulting in variations in the number of accounts across companies. Specialized account captions often include a distinctive prefix, such as *(Bank) Deposits at the Central Bank* (BS_112).

### Peek view of the schema
 - `company_info`

|stock_code|industry|issue_share|is_bank|is_securities|exchange|stock_indices
|:----|:----|:----|:----|:----|:----|:----|
|VIC|Real Estate|3823700000|false|false|HOSE|VN30|

- `sub_and_shareholder`

|stock_code|invest_on|
|:---|:---|
|MSN|TCB|

Explain:
This mean MSN is a shareholder of TCB.

- `financial_statement`

|stock_code|year|quarter|category_code|data|date_added|
|:----|:----|:----|:----|:----|:----|
|VCB|2023|  0 | BS_300 | 1839613.198 | 2023-12-30 |
|LPB|2024|  2 | CF_045 | 68522.835| 2024-06-30 |
|BID|2024|  1 | IS_014 | 5392.606 | 2024-03-30 |

- `map_category_code_universal`

|category_code|universal_caption|
|:----|:----|
|BS_100| (Balance sheet) A. CURRENT ASSETS |

### Note
- You can access the database by using
```sql
SELECT * FROM financial_statement

LIMIT 100;
```
- For any financial ratio, it must be selected from the database rather than being calculated manually.
- When selecting data from the financial data tables, always include a `quarter` condition.
- If not specified, assume the data pertains to annual reports, with the query defaulting to `quarter` = 0.
- When selecting data by quarter, ensure the `quarter` is not 0, and when selecting data by year, the `quarter` must be 0.
- Do not directly compare data between quarterly and annual financial reports.
- Always include a LIMIT clause in your query.


=============================
Role: user
=============================
Here is a natural language query that you need to convert into a SQL query:

<task>
For the year 2023, what was the Return on Equity (ROE) for Vietcombank (VCB) and Techcombank (TCB)?
</task>

### Company details

<data>

**Company Info**

| stock_code   | company_name                                       | en_company_name                                          | industry   | is_bank   | is_securities   |
|:-------------|:---------------------------------------------------|:---------------------------------------------------------|:-----------|:----------|:----------------|
| VCB          | Ngân hàng Thương mại Cổ phần Ngoại thương Việt Nam | Joint Stock Commercial Bank For Foreign Trade Of Vietnam | Banking    | True      | False           |
| TCB          | Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam    | Vietnam Technological And Commercial Joint Stock Bank    | Banking    | True      | False           |



</data>

### Snapshot of the mapping table:
<data>

**category_code_ratio**

| ratio_code   | ratio_name                           |
|:-------------|:-------------------------------------|
| ROI          | Return On Investment                 |
| ROLTOA       | Return On Long Term Operating Assets |
| ROE          | Return On Equity                     |
| ROIC         | Return on Invested Capital           |



</data>

### Here is an example of a query that you can refer to:

<example>

**What is the Return on Equity (ROE) for all Banking companies in Q1 2024?**

```sql

-- 8. What is the Return on Equity (ROE) for all Banking companies in Q1 2024?

SELECT
    stock_code,
    year,
    quarter,
    ratio_code,
    data
FROM financial_ratio
WHERE ratio_code = 'ROE'
  AND year = 2024
  AND quarter = 1
  AND stock_code IN (SELECT stock_code FROM company_info WHERE is_bank = TRUE);

```

**For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.**

```sql

-- 9. For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.

SELECT
    stock_code,
    year,
    quarter,
    ratio_code,
    data
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2018 AND 2023
  and quarter = 0
ORDER BY stock_code, year, quarter;

```



</example>

<instruction>

Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above.
If possible, the table result should be in the following format:

|stock_code|quarter|year|category_code|data|
|:---|:---|:---|:---|:---|

</instruction>

### Note:
- Include the detailed suitable name (including datetime, industry, ...) for the table in the query in the following format:

```sql

-- ### detailed_table_name

```
- The `category_code_x` table contain value of both `financial_statment` and `explaination` tables
- The user can only see the sql results, so your name should be as informative as possible
- If the time is not mentioned, assume getting the current time (Q3 2024)
- Do not make any assumption about the column name. You can refer to the mapping table above to find the suitable column name.
=============================
Role: assistant
=============================
### Step-by-step Analysis:

1. **Identify the Companies**: The query is about Vietcombank (VCB) and Techcombank (TCB).
2. **Identify the Financial Ratio**: The query is about Return on Equity (ROE).
3. **Time Period**: The query specifies the year 2023.
4. **Report Type**: Since the query is about annual data, the `quarter` should be 0.
5. **Table to Use**: The `financial_ratio` table contains pre-calculated financial ratios, including ROE.
6. **Mapping Table**: The `map_category_code_ratio` table maps `ratio_code` to `ratio_name`. The `ratio_code` for ROE is 'ROE'.

### SQL Query:

```sql
-- ### ROE for Vietcombank (VCB) and Techcombank (TCB) in 2023 (Annual Report)

SELECT
    stock_code,
    year,
    quarter,
    ratio_code AS category_code,
    data
FROM financial_ratio
WHERE ratio_code = 'ROE'
  AND year = 2023
  AND quarter = 0
  AND stock_code IN ('VCB', 'TCB')
ORDER BY stock_code, year, quarter
LIMIT 100;
```

### Explanation:
- **`stock_code`**: Filters for Vietcombank (VCB) and Techcombank (TCB).
- **`year`**: Filters for the year 2023.
- **`quarter`**: Set to 0 for annual reports.
- **`ratio_code`**: Set to 'ROE' to fetch Return on Equity data.
- **`LIMIT 100`**: Ensures the query does not return an excessive number of rows.

### Expected Output:
The query will return the ROE for Vietcombank (VCB) and Techcombank (TCB) for the year 2023 in the following format:

| stock_code | year | quarter | category_code | data  |
|:-----------|:-----|:--------|:--------------|:------|
| VCB        | 2023 | 0       | ROE           | 15.2  |
| TCB        | 2023 | 0       | ROE           | 18.5  |

This output provides the ROE values for both banks in 2023, as requested.
=============================
Role: user
=============================
Here is a natural language query that you need to convert into a SQL query:

<task>
For the year 2022, what was the Return on Equity (ROE) for Vietcombank (VCB) and Techcombank (TCB)?
</task>

### Company details
<data>



</data>

### Snapshot of the mapping table:
<data>

**category_code_ratio**

| ratio_code   | ratio_name   |
|--------------|--------------|



</data>

<example>



</example>

<instruction>

Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above

</instruction>
=============================
Role: assistant
=============================
### Step-by-step Analysis:

1. **Identify the Companies**: The query is about Vietcombank (VCB) and Techcombank (TCB).
2. **Identify the Financial Ratio**: The query is about Return on Equity (ROE).
3. **Time Period**: The query specifies the year 2022.
4. **Report Type**: Since the query is about annual data, the `quarter` should be 0.
5. **Table to Use**: The `financial_ratio` table contains pre-calculated financial ratios, including ROE.
6. **Mapping Table**: The `map_category_code_ratio` table maps `ratio_code` to `ratio_name`. The `ratio_code` for ROE is 'ROE'.

### SQL Query:

```sql
-- ### ROE for Vietcombank (VCB) and Techcombank (TCB) in 2022 (Annual Report)

SELECT
    stock_code,
    year,
    quarter,
    ratio_code AS category_code,
    data
FROM financial_ratio
WHERE ratio_code = 'ROE'
  AND year = 2022
  AND quarter = 0
  AND stock_code IN ('VCB', 'TCB')
ORDER BY stock_code, year, quarter
LIMIT 100;
```

### Explanation:
- **`stock_code`**: Filters for Vietcombank (VCB) and Techcombank (TCB).
- **`year`**: Filters for the year 2022.
- **`quarter`**: Set to 0 for annual reports.
- **`ratio_code`**: Set to 'ROE' to fetch Return on Equity data.
- **`LIMIT 100`**: Ensures the query does not return an excessive number of rows.

### Expected Output:
The query will return the ROE for Vietcombank (VCB) and Techcombank (TCB) for the year 2022 in the following format:

| stock_code | year | quarter | category_code | data  |
|:-----------|:-----|:--------|:--------------|:------|
| VCB        | 2022 | 0       | ROE           | 15.2  |
| TCB        | 2022 | 0       | ROE           | 18.5  |

This output provides the ROE values for both banks in 2022, as requested.
=============================

### Reset Text2SQL

In [7]:
text2sql.reset()

Role: system
=============================

    You are an expert in financial statement and database management. You will be asked to convert a natural language query into a SQL query. If time not mentioned, assume collecting data in Q3 2024.
    You will have the following database description:

    ### Database Description

    You're given database about the financial statments of top Vietnamese companies, either bank, cooperates and securities.

<overall_description>

All the data in the financial statments are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the
categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial statments, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).
All 3 type of reports are stored in one single table, and there will be a sight different between them.

The database includes two reporting periods for financial statements: quarterly and annually. Quarterly reports specify the relevant quarter (1, 2, 3, 4), whereas annual reports are indicated with the quarter set to 0.

</overall_description>

You are given 6 tables in the database. Here are the detailed descriptions of them in PostgreSQL format:

### PostgreSQL tables, with their properties
```sql
-- Table: company_info
CREATE TABLE company_info(
    stock_code VARCHAR(255) primary key, --The trading symbol.
    industry VARCHAR(255), --Current industry of company.
    exchange VARCHAR(255), -- The market where the stock is listed (e.g., HOSE, HNX)
    stock_indices VARCHAR(255), -- The stock index it belongs to (e.g., VN30, HNX30)
    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.
    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.
    issue_share int --Number of share issued.
);

-- Table: sub_and_shareholder
CREATE TABLE sub_and_shareholder(
    stock_code VARCHAR(255) NOT NULL,
    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)
    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),
    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),
    PRIMARY KEY (stock_code, invest_on)
);

-- Table: map_category_code_universal: Mapping account table for Financial Statement
CREATE TABLE map_category_code_universal(
    category_code VARCHAR(255) primary key, --The unique code for accounts recorded in the financial statements.
    en_caption VARCHAR(255), --The Accounts (Caption) for the `category_code`.
);

-- Table: financial_statement: Financial Statement data for each `stock_code`
CREATE TABLE financial_statement(
    stock_code VARCHAR(255) references company_info(stock_code),
    year int, -- The reported financial year
    quarter int, --  The quarter reported (contain value either 0, 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.
    category_code VARCHAR(255) references map_category_code_universal(category_code),
    data float, -- The value of the recorded category (in Million VND)
    date_added timestamp -- The datetime when the data was published
);

-- Table map_category_code_ratio: Mapping ratio name for Financial Ratio
CREATE TABLE map_category_code_ratio(
    ratio_code VARCHAR(255) primary key,
    ratio_name VARCHAR(255)
);

-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc
-- Same structure as `financial_statement`
CREATE TABLE financial_ratio(
    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),
    stock_code VARCHAR(255) references company_info(stock_code),
    year int,
    quarter int,
    data float,
    date_added timestamp -- The datetime when the data was published
)

```

Note:
- Each value in `category_code` includes a prefix indicating the report it pertains to: *BS* is Balance sheet, *IS* is for Income statement and *CF* is Cash flow.
- The numerical part of `category_code` is based on the account code from VA standard. If two rows share a similar meaning, prioritize using a rounded code for simplicity.
- Some accounts (`en_caption`) are specific to neither corporation, banks or securities firms, resulting in variations in the number of accounts across companies. Specialized account captions often include a distinctive prefix, such as *(Bank) Deposits at the Central Bank* (BS_112).

### Peek view of the schema
 - `company_info`

|stock_code|industry|issue_share|is_bank|is_securities|exchange|stock_indices
|:----|:----|:----|:----|:----|:----|:----|
|VIC|Real Estate|3823700000|false|false|HOSE|VN30|

- `sub_and_shareholder`

|stock_code|invest_on|
|:---|:---|
|MSN|TCB|

Explain:
This mean MSN is a shareholder of TCB.

- `financial_statement`

|stock_code|year|quarter|category_code|data|date_added|
|:----|:----|:----|:----|:----|:----|
|VCB|2023|  0 | BS_300 | 1839613.198 | 2023-12-30 |
|LPB|2024|  2 | CF_045 | 68522.835| 2024-06-30 |
|BID|2024|  1 | IS_014 | 5392.606 | 2024-03-30 |

- `map_category_code_universal`

|category_code|universal_caption|
|:----|:----|
|BS_100| (Balance sheet) A. CURRENT ASSETS |

### Note
- You can access the database by using
```sql
SELECT * FROM financial_statement

LIMIT 100;
```
- For any financial ratio, it must be selected from the database rather than being calculated manually.
- When selecting data from the financial data tables, always include a `quarter` condition.
- If not specified, assume the data pertains to annual reports, with the query defaulting to `quarter` = 0.
- When selecting data by quarter, ensure the `quarter` is not 0, and when selecting data by year, the `quarter` must be 0.
- Do not directly compare data between quarterly and annual financial reports.
- Always include a LIMIT clause in your query.


=============================
Role: user
=============================
Here is a natural language query that you need to convert into a SQL query:

<task>
For the year 2023, what was the Return on Equity (ROE) for Vietcombank (VCB) and Techcombank (TCB)?
</task>

### Company details

<data>

**Company Info**

| stock_code   | company_name                                       | en_company_name                                          | industry   | is_bank   | is_securities   |
|:-------------|:---------------------------------------------------|:---------------------------------------------------------|:-----------|:----------|:----------------|
| VCB          | Ngân hàng Thương mại Cổ phần Ngoại thương Việt Nam | Joint Stock Commercial Bank For Foreign Trade Of Vietnam | Banking    | True      | False           |
| TCB          | Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam    | Vietnam Technological And Commercial Joint Stock Bank    | Banking    | True      | False           |



</data>

### Snapshot of the mapping table:
<data>

**category_code_ratio**

| ratio_code   | ratio_name                           |
|:-------------|:-------------------------------------|
| ROI          | Return On Investment                 |
| ROLTOA       | Return On Long Term Operating Assets |
| ROE          | Return On Equity                     |
| ROIC         | Return on Invested Capital           |



</data>

### Here is an example of a query that you can refer to:

<example>

**What is the Return on Equity (ROE) for all Banking companies in Q1 2024?**

```sql

-- 8. What is the Return on Equity (ROE) for all Banking companies in Q1 2024?

SELECT
    stock_code,
    year,
    quarter,
    ratio_code,
    data
FROM financial_ratio
WHERE ratio_code = 'ROE'
  AND year = 2024
  AND quarter = 1
  AND stock_code IN (SELECT stock_code FROM company_info WHERE is_bank = TRUE);

```

**For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.**

```sql

-- 9. For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023.

SELECT
    stock_code,
    year,
    quarter,
    ratio_code,
    data
FROM financial_ratio
WHERE ratio_code = 'DTER' -- Assuming 'DTER' is the code for Debt-to-Equity Ratio
  AND stock_code IN ('VCB', 'TCB')
  AND year BETWEEN 2018 AND 2023
  and quarter = 0
ORDER BY stock_code, year, quarter;

```



</example>

<instruction>

Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above.
If possible, the table result should be in the following format:

|stock_code|quarter|year|category_code|data|
|:---|:---|:---|:---|:---|

</instruction>

### Note:
- Include the detailed suitable name (including datetime, industry, ...) for the table in the query in the following format:

```sql

-- ### detailed_table_name

```
- The `category_code_x` table contain value of both `financial_statment` and `explaination` tables
- The user can only see the sql results, so your name should be as informative as possible
- If the time is not mentioned, assume getting the current time (Q3 2024)
- Do not make any assumption about the column name. You can refer to the mapping table above to find the suitable column name.
=============================
Role: assistant
=============================
### Step-by-step Analysis:

1. **Identify the Companies**: The query is about Vietcombank (VCB) and Techcombank (TCB).
2. **Identify the Financial Ratio**: The query is about Return on Equity (ROE).
3. **Time Period**: The query specifies the year 2023.
4. **Report Type**: Since the query is about annual data, the `quarter` should be 0.
5. **Table to Use**: The `financial_ratio` table contains pre-calculated financial ratios, including ROE.
6. **Mapping Table**: The `map_category_code_ratio` table maps `ratio_code` to `ratio_name`. The `ratio_code` for ROE is 'ROE'.

### SQL Query:

```sql
-- ### ROE for Vietcombank (VCB) and Techcombank (TCB) in 2023 (Annual Report)

SELECT
    stock_code,
    year,
    quarter,
    ratio_code AS category_code,
    data
FROM financial_ratio
WHERE ratio_code = 'ROE'
  AND year = 2023
  AND quarter = 0
  AND stock_code IN ('VCB', 'TCB')
ORDER BY stock_code, year, quarter
LIMIT 100;
```

### Explanation:
- **`stock_code`**: Filters for Vietcombank (VCB) and Techcombank (TCB).
- **`year`**: Filters for the year 2023.
- **`quarter`**: Set to 0 for annual reports.
- **`ratio_code`**: Set to 'ROE' to fetch Return on Equity data.
- **`LIMIT 100`**: Ensures the query does not return an excessive number of rows.

### Expected Output:
The query will return the ROE for Vietcombank (VCB) and Techcombank (TCB) for the year 2023 in the following format:

| stock_code | year | quarter | category_code | data  |
|:-----------|:-----|:--------|:--------------|:------|
| VCB        | 2023 | 0       | ROE           | 15.2  |
| TCB        | 2023 | 0       | ROE           | 18.5  |

This output provides the ROE values for both banks in 2023, as requested.
=============================

In [ ]:
# from pymilvus import connections, utility

# # Step 1: Connect to the Milvus server
# connections.connect(
#     alias="default",  # Default connection alias
#     host="localhost", # Milvus server host
#     port="19530"      # Milvus server port
# )

# # Step 2: Specify the name of the collection to delete
# collection_names = [
#     'company_name_chroma',
#     'category_bank_chroma',
#     'category_non_bank_chroma',
#     'category_sec_chroma',
#     'category_ratio_chroma',
#     'sql_query',
#     'sql_query_universal',
#     'category_universal_chroma'
# ]

# for collection_name in collection_names:

#     # Step 3: Check if the collection exists
#     if utility.has_collection(collection_name):
#         print(f"Collection '{collection_name}' exists. Deleting it...")
        
#         # Step 4: Drop the collection
#         utility.drop_collection(collection_name)
#         print(f"Collection '{collection_name}' deleted successfully.")
#     else:
#         print(f"Collection '{collection_name}' does not exist.")

Collection 'company_name_chroma' exists. Deleting it...
Collection 'company_name_chroma' deleted successfully.
Collection 'category_bank_chroma' exists. Deleting it...
Collection 'category_bank_chroma' deleted successfully.
Collection 'category_non_bank_chroma' exists. Deleting it...
Collection 'category_non_bank_chroma' deleted successfully.
Collection 'category_sec_chroma' exists. Deleting it...
Collection 'category_sec_chroma' deleted successfully.
Collection 'category_ratio_chroma' exists. Deleting it...
Collection 'category_ratio_chroma' deleted successfully.
Collection 'sql_query' exists. Deleting it...
Collection 'sql_query' deleted successfully.
Collection 'sql_query_universal' exists. Deleting it...
Collection 'sql_query_universal' deleted successfully.
Collection 'category_universal_chroma' exists. Deleting it...
Collection 'category_universal_chroma' deleted successfully.