In [10]:
from llm.llm.chatgpt import ChatGPT
from llm.llm.gemini import Gemini
from setup_db import create_chroma_db, connect_to_db, execute_query, DBHUB
from branch_reasoning import *

In [11]:
llm = Gemini()

In [12]:
db_name = 'test_db'
user = 'postgres'
password = '12345678'
port = '5433'
host = 'localhost'

In [13]:
conn = connect_to_db(db_name, user, password, host, port)

Connecting to database test_db, postgres...

In [14]:
collection_chromadb = 'category_bank_chroma'
persist_directory = 'data/category_bank_chroma'
bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_non_bank_chroma'
persist_directory = 'data/category_non_bank_chroma'
none_bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'company_name_chroma'
persist_directory = 'data/company_name_chroma'
vector_db_company = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'sql_query'
persist_directory = 'data/sql_query'
vector_db_sql = create_chroma_db(collection_chromadb, persist_directory)

In [15]:
vector_db_company.similarity_search('company', k=5)

[Document(page_content='SSI Securities Corporation', metadata={'lang': 'en', 'stock_code': 'SSI'}),
 Document(page_content='SSI', metadata={'lang': 'vi', 'stock_code': 'SSI'}),
 Document(page_content='Masan Group Corporation', metadata={'lang': 'en', 'stock_code': 'MSN'}),
 Document(page_content='VIC', metadata={'lang': 'vi', 'stock_code': 'VIC'}),
 Document(page_content='SSI Securities', metadata={'lang': 'en', 'stock_code': 'SSI'})]

In [16]:
db = DBHUB(conn, bank_vector_store, none_bank_vector_store, vector_db_company, vector_db_sql)

In [17]:
prompt =  "Calculate ROA, ROE of all the company which are owned by VinGroup"

In [18]:
history = llm_branch_reasoning(llm, prompt, db, verbose=True)

prompt_token_count: 395
candidates_token_count: 160
total_token_count: 555

Branch reasoning response:
```json
{
  "steps": [
    "Step 1: Identify all companies owned by VinGroup by joining the `company_info` and `sub_and_shareholder` tables.  This will yield a list of company IDs or stock codes wholly or partially owned by VinGroup.",
    "Step 2:  Calculate ROA and ROE for each company identified in Step 1. This requires joining the results from Step 1 with either the `bank_financial_report` or `non_bank_financial_report` tables based on the company type (obtained from `company_info`), and performing the necessary calculations using the relevant financial data (e.g., net income, total assets, shareholder equity)."
  ]
}
```

====================================
Step 0: Extract company name
prompt_token_count: 71
candidates_token_count: 20
total_token_count: 91

Get stock code based on company name response:
```json
{
  "company_name": ["VinGroup"]
}
```

====================================
type of company_info_df: <class 'pandas.core.frame.DataFrame'>
Step 1: Step 1: Identify all companies owned by VinGroup by joining the `company_info` and `sub_and_shareholder` tables.  This will yield a list of company IDs or stock codes wholly or partially owned by VinGroup.
RAG for step:  1 ```sql

-- 1. Calculate ROE of VIC, VNM, and HPG for the first two quarters of 2024

-- Calculate ROE of VIC, VRE and VHM in first 2 quarter of 2024

-- Get Net income value
WITH net_income AS (
    SELECT nbfr.data AS net_income, nbfr.stock_code as stock_code, nbfr.quarter as quarter, nbfr.year as year
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc
      ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code in ('VIC', 'VNM', 'HPG')
      AND nbfr.year = 2024
      AND nbfr.quarter in (1,2)
      AND mc.en_caption = 'Profit after Corporate Income Tax'),

-- Get equity value
equity AS (
    SELECT nbfr.data AS equity, nbfr.stock_code as stock_code, nbfr.quarter as quarter, nbfr.year as year
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc
      ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code in ('VIC', 'VNM', 'HPG')
      AND nbfr.year = 2024
      AND nbfr.quarter in (1,2)
      AND mc.en_caption = 'Equity'
)
-- Select detail information
SELECT
	net_income.stock_code,
	net_income.year,
	net_income.quarter,
	net_income.net_income,
    (net_income.net_income / equity.equity) AS ROE

FROM net_income
JOIN equity
ON net_income.stock_code = equity.stock_code
AND net_income.quarter = equity.quarter
AND net_income.year = equity.year;
-- Join on both quarter and year to avoid duplication

```
prompt_token_count: 1892
candidates_token_count: 31
total_token_count: 1923

Step 1 response:
```sql
SELECT
  invest_on
FROM sub_and_shareholder
WHERE
  stock_code = 'VIC';
```

====================================
SQL Code 1:
SELECT
  invest_on
FROM sub_and_shareholder
WHERE
  stock_code = 'VIC';

type of company_info_df: <class 'pandas.core.frame.DataFrame'>
type of company_info_df: <class 'pandas.core.frame.DataFrame'>
Step 2: Step 2:  Calculate ROA and ROE for each company identified in Step 1. This requires joining the results from Step 1 with either the `bank_financial_report` or `non_bank_financial_report` tables based on the company type (obtained from `company_info`), and performing the necessary calculations using the relevant financial data (e.g., net income, total assets, shareholder equity).
RAG for step:  2 ```sql

-- 12. Calculate the Return on Assets (ROA) of FPT for Q1 2024

WITH net_income AS (
    SELECT nbfr.data AS net_income, nbfr.stock_code, nbfr.quarter, nbfr.year
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code = 'FPT' AND nbfr.year = 2024 AND nbfr.quarter = 1
      AND mc.en_caption = 'Profit after Corporate Income Tax'
),
total_assets AS (
    SELECT nbfr.data AS total_assets, nbfr.stock_code, nbfr.quarter, nbfr.year
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code = 'FPT' AND nbfr.year = 2024 AND nbfr.quarter = 1
      AND mc.en_caption = 'Total Assets'
)
SELECT
    net_income.stock_code,
    net_income.year,
    net_income.quarter,
    (net_income.net_income / total_assets.total_assets) * 100 AS ROA
FROM net_income
JOIN total_assets
  ON net_income.stock_code = total_assets.stock_code
  AND net_income.quarter = total_assets.quarter
  AND net_income.year = total_assets.year;

```
prompt_token_count: 2762
candidates_token_count: 623
total_token_count: 3385

Step 2 response:
```sql
WITH vingroup_companies AS (
  SELECT
    invest_on
  FROM sub_and_shareholder
  WHERE
    stock_code = 'VIC'
),
company_info_vingroup AS (
  SELECT
    ci.stock_code,
    ci.is_bank
  FROM company_info ci
  JOIN vingroup_companies vc
    ON ci.stock_code = vc.invest_on
),
financial_data AS (
  SELECT
    cfr.stock_code,
    cfr.year,
    cfr.quarter,
    SUM(CASE WHEN mc.en_caption = 'Profit after Corporate Income Tax' THEN cfr.data ELSE 0 END) AS net_income,
    SUM(CASE WHEN mc.en_caption = 'Total Assets' THEN cfr.data ELSE 0 END) AS total_assets,
    SUM(CASE WHEN mc.en_caption = 'Equity' THEN cfr.data ELSE 0 END) AS equity
  FROM company_info_vingroup civ
  JOIN (
    SELECT *
    FROM bank_financial_report
    UNION ALL
    SELECT *
    FROM non_bank_financial_report
  ) AS cfr
    ON civ.stock_code = cfr.stock_code
  JOIN (
    SELECT *
    FROM map_category_code_bank
    UNION ALL
    SELECT *
    FROM map_category_code_non_bank
  ) AS mc
    ON cfr.category_code = mc.category_code
  WHERE
    cfr.quarter = 0
  GROUP BY
    cfr.stock_code,
    cfr.year,
    cfr.quarter
)
SELECT
  fd.stock_code,
  fd.year,
  (fd.net_income / fd.total_assets) AS roa,
  (fd.net_income / fd.equity) AS roe
FROM financial_data fd;
```

This query first identifies all companies owned by VinGroup.  Then, it joins this with the financial reports (combining bank and non-bank reports), using a UNION ALL to treat them as a single source.  It uses conditional aggregation to sum the relevant financial data (net income, total assets, and equity) for each company. Finally, it calculates ROA and ROE using the aggregated data.  The `WHERE cfr.quarter = 0` clause ensures that only annual reports are considered.  If quarterly data is needed, this condition should be adjusted accordingly.  Note that this assumes the existence of 'Profit after Corporate Income Tax', 'Total Assets', and 'Equity' captions in both `map_category_code_bank` and `map_category_code_non_bank`.  If these captions differ slightly, the query will need to be modified to reflect the correct captions.

====================================
SQL Code 1:
WITH vingroup_companies AS (
  SELECT
    invest_on
  FROM sub_and_shareholder
  WHERE
    stock_code = 'VIC'
),
company_info_vingroup AS (
  SELECT
    ci.stock_code,
    ci.is_bank
  FROM company_info ci
  JOIN vingroup_companies vc
    ON ci.stock_code = vc.invest_on
),
financial_data AS (
  SELECT
    cfr.stock_code,
    cfr.year,
    cfr.quarter,
    SUM(CASE WHEN mc.en_caption = 'Profit after Corporate Income Tax' THEN cfr.data ELSE 0 END) AS net_income,
    SUM(CASE WHEN mc.en_caption = 'Total Assets' THEN cfr.data ELSE 0 END) AS total_assets,
    SUM(CASE WHEN mc.en_caption = 'Equity' THEN cfr.data ELSE 0 END) AS equity
  FROM company_info_vingroup civ
  JOIN (
    SELECT *
    FROM bank_financial_report
    UNION ALL
    SELECT *
    FROM non_bank_financial_report
  ) AS cfr
    ON civ.stock_code = cfr.stock_code
  JOIN (
    SELECT *
    FROM map_category_code_bank
    UNION ALL
    SELECT *
    FROM map_category_code_non_bank
  ) AS mc
    ON cfr.category_code = mc.category_code
  WHERE
    cfr.quarter = 0
  GROUP BY
    cfr.stock_code,
    cfr.year,
    cfr.quarter
)
SELECT
  fd.stock_code,
  fd.year,
  (fd.net_income / fd.total_assets) AS roa,
  (fd.net_income / fd.equity) AS roe
FROM financial_data fd;

division by zero

type of company_info_df: <class 'pandas.core.frame.DataFrame'>
syntax error at or near ")"
LINE 1: ..., industry, is_bank FROM company_info WHERE stock_code IN ()
                                                                      ^

type of company_info_df: <class 'str'>

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid