In [1]:
from llm.llm.chatgpt import ChatGPT
from llm.llm.gemini import Gemini
from setup_db import create_chroma_db, connect_to_db, execute_query, DBHUB
from llm_test import reasoning_text2SQL, CoT_reasoning
from llm_general import  find_suitable_row_v2

c:\Users\Admin\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
llm = Gemini()

In [3]:
question = "For Vietcombank and Techcombank, please provide the quarterly data for the Debt-to-Equity ratio from 2020 to 2023"

In [4]:
find_suitable_row_v2(llm, question, verbose=True)

2024-11-07 19:57:11,737 - INFO - Completion time of gemini-1.5-flash-002: 1.0114305019378662s

prompt_token_count: 197
candidates_token_count: 51
total_token_count: 248

Find suitable column response:
```json
{
  "industry": ["Banking"],
  "financial_statement_row": ["Total Liabilities", "Total Equity"],
  "financial_ratio_row": ["Debt-to-Equity Ratio"]
}
```

====================================

{'industry': ['Banking'],
 'financial_statement_row': ['Total Liabilities', 'Total Equity'],
 'financial_ratio_row': ['Debt-to-Equity Ratio']}

In [5]:
db_name = 'test_db'
user = 'postgres'
password = '12345678'
port = '5433'
host = 'localhost'

In [6]:
conn = connect_to_db(db_name, user, password, host, port)

Connecting to database test_db, postgres...

In [7]:
collection_chromadb = 'category_bank_chroma'
persist_directory = 'data/category_bank_chroma'
bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_non_bank_chroma'
persist_directory = 'data/category_non_bank_chroma'
none_bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_sec_chroma'
persist_directory = 'data/category_sec_chroma'
sec_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_ratio_chroma'
persist_directory = 'data/category_ratio_chroma'
ratio_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'company_name_chroma'
persist_directory = 'data/company_name_chroma'
vector_db_company = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'sql_query'
persist_directory = 'data/sql_query'
vector_db_sql = create_chroma_db(collection_chromadb, persist_directory)

2024-11-07 19:57:12,372 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 19:57:12,494 - INFO - Collection category_bank_chroma is not created.
2024-11-07 19:57:12,978 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 19:57:12,985 - INFO - Collection category_non_bank_chroma is not created.
2024-11-07 19:57:13,491 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 19:57:13,498 - INFO - Collection category_sec_chroma is not created.
2024-11-07 19:57:14,010 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 19:57:14,017 - INFO - Collection category_ratio_chroma is not created.
2024-11-07 19:57:14,542 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 19:57:14,551 - INFO - Collection company_name_chroma is not created.
2024-11-07 19:57:15,032 - INFO - Anonymized telemetry enabled. See                     https://docs.trychroma.com/telemetry for more information.
2024-11-07 19:57:15,039 - INFO - Collection sql_query is not created.

In [8]:
db = DBHUB(conn, bank_vector_store, none_bank_vector_store, sec_vector_store, ratio_vector_store, vector_db_company, vector_db_sql)

In [9]:
prompt = "Compare the Return on Assets (ROA) and Return on Equity (ROE) of Vinamilk and Masan Group for the fiscal year 2023.  Additionally, provide the total assets and total equity for both companies for the same period."

In [10]:
find_suitable_row_v2(llm, prompt, verbose=True)

2024-11-07 19:57:16,019 - INFO - Completion time of gemini-1.5-flash-002: 0.9419925212860107s

prompt_token_count: 215
candidates_token_count: 69
total_token_count: 284

Find suitable column response:
```json
{
  "industry": ["Food and Beverage", "Consumer Staples"],
  "financial_statement_row": ["Total Assets", "Total Equity", "Net Income"],
  "financial_ratio_row": ["Return on Assets (ROA)", "Return on Equity (ROE)"]
}
```

====================================

{'industry': ['Food and Beverage', 'Consumer Staples'],
 'financial_statement_row': ['Total Assets', 'Total Equity', 'Net Income'],
 'financial_ratio_row': ['Return on Assets (ROA)', 'Return on Equity (ROE)']}

In [11]:
from llm_general import *
import time

In [12]:
get_stock_code_based_on_company_name(llm, prompt, db, verbose=True)

2024-11-07 19:57:16,670 - INFO - Completion time of gemini-1.5-flash-002: 0.6346256732940674s

prompt_token_count: 144
candidates_token_count: 26
total_token_count: 170

Get stock code based on company name response:
```json
{
  "company_name": ["Vinamilk", "Masan Group"]
}
```

====================================

2024-11-07 19:57:17,580 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 19:57:18,101 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"

(  stock_code                    company_name  \
 0        VNM    Công ty Cổ phần Sữa Việt Nam
 1        MSN  Công ty Cổ phần Tập đoàn Masan

                               en_company_name            industry  is_bank  \
 0  Vietnam Dairy Products Joint Stock Company  Food and Beverages    False
 1                     Masan Group Corporation  Food and Beverages    False

    is_securities
 0          False
 1          False  ,
 [])

In [20]:
llm.reset_token()
llm.usage()

{'input_token': 0, 'output_token': 0}

In [21]:
start = time.time()
history, error_messages, execution_tables = reasoning_text2SQL(llm, prompt, db, 5, verbose=False)
end = time.time()
print("Time taken: ", end - start)

2024-11-07 19:57:49,718 - INFO - Completion time of gemini-1.5-flash-002: 0.8113832473754883s

prompt_token_count: 206
candidates_token_count: 74
total_token_count: 280

2024-11-07 19:57:50,888 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 19:57:51,252 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 19:57:51,742 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 19:57:52,294 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 19:57:53,020 - INFO - HTTP Request: POST https://api.openai.com/v1/embeddings "HTTP/1.1 200 OK"
2024-11-07 19:57:56,396 - INFO - Completion time of gemini-1.5-flash-002: 3.3688552379608154s

prompt_token_count: 2568
candidates_token_count: 428
total_token_count: 2996

Time taken:  7.504451513290405

In [24]:
for message in history:
    print("==============")
    print(message['role'])
    print('_____________')
    print(message['content'])

==============
system
_____________

    You are an expert in financial statement and database management. You will be asked to convert a natural language query into a SQL query.

==============
user
_____________
You have the following database schema:
You're given database about the financial reports of top Vietnamese companies, both bank and cooperates.

All the data in the financial report are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial reports, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).



Here are the descriptions of tables in the database:



### PostgreSQL tables, with their properties

```sql

-- Table: company_info

CREATE TABLE company_info(

    stock_code VARCHAR(255) primary key, --The trading symbol.

    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.

    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.

    industry VARCHAR(255), --Current industry of company.

    issue_share int --Number of share issued.

);



-- Table: sub_and_shareholder

CREATE TABLE sub_and_shareholder(

    stock_code VARCHAR(255) NOT NULL,

    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)

    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),

    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),

    PRIMARY KEY (stock_code, invest_on)

);



-- Table: map_category_code_bank

CREATE TABLE map_category_code_bank(

    category_code VARCHAR(255) primary key, --The category_code recorded in the financial report.

    en_caption VARCHAR(255), --The Caption for the `category_code`.

    report_type VARCHAR(255) --Report type recorded for each line (balance_sheet, cash_flow_statement or income_statement)

);



-- Table: map_category_code_non_bank. Same as `map_category_code_bank`

CREATE TABLE map_category_code_non_bank(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: map_category_code_securities. Same as `map_category_code_bank`

CREATE TABLE map_category_code_securities(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: bank_financial_report: Financial report of banks

CREATE TABLE bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int, -- The reported financial year

    quarter int, --  The quarter reported (contain value either 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.

    category_code VARCHAR(255) references map_category_code_bank(category_code),

    data float -- The value of the recorded category (in Million VND)

);



-- Table non_bank_financial_report: Financial report of corporation. Same structure as `bank_financial_report`

CREATE TABLE non_bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_non_bank(category_code),

    data float

);



-- Table securities_financial_report: Financial report of securities firms. Same structure as `bank_financial_report`

CREATE TABLE securities_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_securities(category_code),

    data float

);



-- Table map_category_code_ratio

CREATE TABLE map_category_code_ratio(

    ratio_code VARCHAR(255) primary key,

    ratio_name VARCHAR(255)

);



-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc

-- Same structure as `bank_financial_report`

CREATE TABLE financial_ratio(

    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    data float

)



```



Note:

- For each `category_code` column, the prefix tell which report does that code refer to, BS is Balance sheet IS is for Income statement and CF is Cash flow.

- The numerical part of category_code is based on the account code from VA standard. If 2 row might have same meaning, prefer to use a rounder code



### Peek view of the schema

 - `company_info`



|stock_code|is_bank|industry|issue_share|

|----|----|----|----|

|VIC|False|Real Estate|3823700000|



- `sub_and_shareholder`



|stock_code|invest_on|

|---|---|

|MSN|TCB|



Explain:

This mean MSN is a shareholder of TCB.



- `bank_financial_report`



|stock_code|year|quarter|category_code|data|

|---|----|----|----|----|----|

|VCB|2023|  0 | BS_300 | 1839613.198 |

|LPB|2024|  2 | CF_045 | 68522.835|

|BID|2024|  1 | IS_014 | 5392.606 |



- `map_category_code_bank`



|category_code|en_caption|report_type|

|----|----|----|

|IS_003| Net Interest Income | income_statement |



### Note

- You can access the database by using

```sql

SELECT * FROM bank_financial_report;

```

- When asking for data in financial report (not financial ratio) in top 5, top 10 companies or subsidiary/invest_on, if not specified, you must union join all bank, non-bank and securities tables

- For any financial ratio, you must select it from the database instead of calculate it yourself.

- You must add `quarter` condition when select data from 4 financial data tables

- If not required or mentioned, always answer for data reported annually, which the query for `quarter` should always be 0 as default

- If you select quarter only, quarter must != 0, and if you select data by year, quarter must be 0

- You must not directly compare the data for quarterly financial report and annually financial report

Here is a natural language query that you need to convert into a SQL query:
Compare the Return on Assets (ROA) and Return on Equity (ROE) of Vinamilk and Masan Group for the fiscal year 2023.  Additionally, provide the total assets and total equity for both companies for the same period.
Company details
<data>
| stock_code   | company_name                   | en_company_name                            | industry           | is_bank   | is_securities   |
|:-------------|:-------------------------------|:-------------------------------------------|:-------------------|:----------|:----------------|
| VNM          | Công ty Cổ phần Sữa Việt Nam   | Vietnam Dairy Products Joint Stock Company | Food and Beverages | False     | False           |
| MSN          | Công ty Cổ phần Tập đoàn Masan | Masan Group Corporation                    | Food and Beverages | False     | False           |
</data>
Snapshot of the mapping table:
<data>


Table `map_category_code_non_bank`

None

Table `map_category_code_bank`

None

Table `map_category_code_securities`

None

Table `map_category_code_ratio`

| ratio_code   | ratio_name                           |
|:-------------|:-------------------------------------|
| ER           | Equity Ratio                         |
| ROI          | Return On Investment                 |
| DTER         | Debt To Equity Ratio                 |
| ROA          | Return On Assets                     |
| ROLTOA       | Return On Long Term Operating Assets |
| ROE          | Return On Equity                     |
| CROA         | Cash Return On Assets                |
| CROFA        | Cash Return On Fixed Assets          |
</data>

Here is an example of a query that you can refer to:
<example>
#### Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?

```sql

-- 13. Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?
WITH financial_data AS (
    SELECT
        stock_code,
        year,
        quarter,
        CASE
            WHEN category_code IN ('BS_200', 'BS_300') THEN 'total_assets'
            WHEN category_code = 'BS_400' THEN 'total_liabilities'
            WHEN category_code = 'IS_200' THEN 'net_income'
        END AS metric,
        data
    FROM
        non_bank_financial_report
    WHERE
        stock_code IN ('VNM', 'MSN')
        AND year IN (2020, 2024)
        AND quarter = 2
        AND category_code IN ('BS_200', 'BS_300', 'BS_400', 'IS_200')
)
SELECT
    stock_code,
    year,
    quarter,
    MAX(CASE WHEN metric = 'total_assets' THEN data END) AS total_assets,
    MAX(CASE WHEN metric = 'total_liabilities' THEN data END) AS total_liabilities,
    MAX(CASE WHEN metric = 'net_income' THEN data END) AS net_income
FROM
    financial_data
GROUP BY
    stock_code, year, quarter
ORDER BY
    stock_code, year, quarter;

```
</example>

<instruction>
Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above
</instruction>

Note:
- Do not make any assumption about the column name. You can refer to the mapping table above to find the suitable column name.

==============
assistant
_____________
```sql
SELECT
  ci.stock_code,
  ci.en_company_name,
  fr.data AS roa,
  fr2.data AS roe,
  fa.data AS total_assets,
  fe.data AS total_equity
FROM
  company_info ci
JOIN
  financial_ratio fr ON ci.stock_code = fr.stock_code
JOIN
  financial_ratio fr2 ON ci.stock_code = fr2.stock_code
JOIN
  non_bank_financial_report fa ON ci.stock_code = fa.stock_code
JOIN
  non_bank_financial_report fe ON ci.stock_code = fe.stock_code
JOIN map_category_code_ratio mcr ON fr.ratio_code = mcr.ratio_code
JOIN map_category_code_ratio mcr2 ON fr2.ratio_code = mcr2.ratio_code
JOIN map_category_code_non_bank mcn ON fa.category_code = mcn.category_code
JOIN map_category_code_non_bank mcn2 ON fe.category_code = mcn2.category_code

WHERE
  ci.stock_code IN ('VNM', 'MSN')
  AND fr.year = 2023
  AND fr.quarter = 0
  AND fr2.year = 2023
  AND fr2.quarter = 0
  AND fa.year = 2023
  AND fa.quarter = 0
  AND fe.year = 2023
  AND fe.quarter = 0
  AND mcr.ratio_name = 'Return On Assets'
  AND mcr2.ratio_name = 'Return On Equity'
  AND mcn.en_caption = 'Total assets'
  AND mcn2.en_caption = 'Total equity'

```


### The result of the given SQL:

SQL result for 1:
| stock_code   | en_company_name   | roa   | roe   | total_assets   | total_equity   |
|--------------|-------------------|-------|-------|----------------|----------------|

In [23]:
last_message = history[-1]['content']
print(last_message)

```sql
SELECT
  ci.stock_code,
  ci.en_company_name,
  fr.data AS roa,
  fr2.data AS roe,
  fa.data AS total_assets,
  fe.data AS total_equity
FROM
  company_info ci
JOIN
  financial_ratio fr ON ci.stock_code = fr.stock_code
JOIN
  financial_ratio fr2 ON ci.stock_code = fr2.stock_code
JOIN
  non_bank_financial_report fa ON ci.stock_code = fa.stock_code
JOIN
  non_bank_financial_report fe ON ci.stock_code = fe.stock_code
JOIN map_category_code_ratio mcr ON fr.ratio_code = mcr.ratio_code
JOIN map_category_code_ratio mcr2 ON fr2.ratio_code = mcr2.ratio_code
JOIN map_category_code_non_bank mcn ON fa.category_code = mcn.category_code
JOIN map_category_code_non_bank mcn2 ON fe.category_code = mcn2.category_code

WHERE
  ci.stock_code IN ('VNM', 'MSN')
  AND fr.year = 2023
  AND fr.quarter = 0
  AND fr2.year = 2023
  AND fr2.quarter = 0
  AND fa.year = 2023
  AND fa.quarter = 0
  AND fe.year = 2023
  AND fe.quarter = 0
  AND mcr.ratio_name = 'Return On Assets'
  AND mcr2.ratio_name = 'Return On Equity'
  AND mcn.en_caption = 'Total assets'
  AND mcn2.en_caption = 'Total equity'

```


### The result of the given SQL:

SQL result for 1:
| stock_code   | en_company_name   | roa   | roe   | total_assets   | total_equity   |
|--------------|-------------------|-------|-------|----------------|----------------|

In [17]:
for message in history:
    print("==============")
    print(message['role'])
    print('_____________')
    print(message['content'])

==============
system
_____________

    You are an expert in financial statement and database management. You will be asked to convert a natural language query into a SQL query.

==============
user
_____________
You have the following database schema:
You're given database about the financial reports of top Vietnamese companies, both bank and cooperates.

All the data in the financial report are followed by the regulation of Vietnamese Accounting Standard (VAS). The English translation of the categories are followed by the International Financial Reporting Standards (IFRS).

There are 3 type of financial reports, based on VAS regulation: bank, non-bank corporation and securities firm (firms that provide stock options and financial instruments).



Here are the descriptions of tables in the database:



### PostgreSQL tables, with their properties

```sql

-- Table: company_info

CREATE TABLE company_info(

    stock_code VARCHAR(255) primary key, --The trading symbol.

    is_bank BOOLEAN, --Bool checking whether the company is a bank or not.

    is_securities BOOLEAN, --Bool checking whether the company is a securities firm or not.

    industry VARCHAR(255), --Current industry of company.

    issue_share int --Number of share issued.

);



-- Table: sub_and_shareholder

CREATE TABLE sub_and_shareholder(

    stock_code VARCHAR(255) NOT NULL,

    invest_on VARCHAR(255) NOT NULL, -- The company invested on (can be subsidiary)

    FOREIGN KEY (stock_code) REFERENCES company_info(stock_code),

    FOREIGN KEY (invest_on) REFERENCES company_info(stock_code),

    PRIMARY KEY (stock_code, invest_on)

);



-- Table: map_category_code_bank

CREATE TABLE map_category_code_bank(

    category_code VARCHAR(255) primary key, --The category_code recorded in the financial report.

    en_caption VARCHAR(255), --The Caption for the `category_code`.

    report_type VARCHAR(255) --Report type recorded for each line (balance_sheet, cash_flow_statement or income_statement)

);



-- Table: map_category_code_non_bank. Same as `map_category_code_bank`

CREATE TABLE map_category_code_non_bank(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: map_category_code_securities. Same as `map_category_code_bank`

CREATE TABLE map_category_code_securities(

    category_code VARCHAR(255) primary key,

    en_caption VARCHAR(255),

    report_type VARCHAR(255)

);



-- Table: bank_financial_report: Financial report of banks

CREATE TABLE bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int, -- The reported financial year

    quarter int, --  The quarter reported (contain value either 1, 2, 3, 4). If the value is 0, that mean the report is for annual report.

    category_code VARCHAR(255) references map_category_code_bank(category_code),

    data float -- The value of the recorded category (in Million VND)

);



-- Table non_bank_financial_report: Financial report of corporation. Same structure as `bank_financial_report`

CREATE TABLE non_bank_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_non_bank(category_code),

    data float

);



-- Table securities_financial_report: Financial report of securities firms. Same structure as `bank_financial_report`

CREATE TABLE securities_financial_report(

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    category_code VARCHAR(255) references map_category_code_securities(category_code),

    data float

);



-- Table map_category_code_ratio

CREATE TABLE map_category_code_ratio(

    ratio_code VARCHAR(255) primary key,

    ratio_name VARCHAR(255)

);



-- Table financial_ratio: This table will have pre-calculated common Financial Ratio such as ROA, ROE, FCF, etc

-- Same structure as `bank_financial_report`

CREATE TABLE financial_ratio(

    ratio_code VARCHAR(255) references map_category_code_ratio(ratio_code),

    stock_code VARCHAR(255) references company_info(stock_code),

    year int,

    quarter int,

    data float

)



```



Note:

- For each `category_code` column, the prefix tell which report does that code refer to, BS is Balance sheet IS is for Income statement and CF is Cash flow.

- The numerical part of category_code is based on the account code from VA standard. If 2 row might have same meaning, prefer to use a rounder code



### Peek view of the schema

 - `company_info`



|stock_code|is_bank|industry|issue_share|

|----|----|----|----|

|VIC|False|Real Estate|3823700000|



- `sub_and_shareholder`



|stock_code|invest_on|

|---|---|

|MSN|TCB|



Explain:

This mean MSN is a shareholder of TCB.



- `bank_financial_report`



|stock_code|year|quarter|category_code|data|

|---|----|----|----|----|----|

|VCB|2023|  0 | BS_300 | 1839613.198 |

|LPB|2024|  2 | CF_045 | 68522.835|

|BID|2024|  1 | IS_014 | 5392.606 |



- `map_category_code_bank`



|category_code|en_caption|report_type|

|----|----|----|

|IS_003| Net Interest Income | income_statement |



### Note

- You can access the database by using

```sql

SELECT * FROM bank_financial_report;

```

- When asking for data in financial report (not financial ratio) in top 5, top 10 companies or subsidiary/invest_on, if not specified, you must union join all bank, non-bank and securities tables

- For any financial ratio, you must select it from the database instead of calculate it yourself.

- You must add `quarter` condition when select data from 4 financial data tables

- If not required or mentioned, always answer for data reported annually, which the query for `quarter` should always be 0 as default

- If you select quarter only, quarter must != 0, and if you select data by year, quarter must be 0

- You must not directly compare the data for quarterly financial report and annually financial report

Here is a natural language query that you need to convert into a SQL query:
Compare the Return on Assets (ROA) and Return on Equity (ROE) of Vinamilk and Masan Group for the fiscal year 2023.  Additionally, provide the total assets and total equity for both companies for the same period.
Company details
<data>
| stock_code   | company_name                   | en_company_name                            | industry           | is_bank   | is_securities   |
|:-------------|:-------------------------------|:-------------------------------------------|:-------------------|:----------|:----------------|
| VNM          | Công ty Cổ phần Sữa Việt Nam   | Vietnam Dairy Products Joint Stock Company | Food and Beverages | False     | False           |
| MSN          | Công ty Cổ phần Tập đoàn Masan | Masan Group Corporation                    | Food and Beverages | False     | False           |
</data>
Snapshot of the mapping table:
<data>


Table `map_category_code_non_bank`

None

Table `map_category_code_bank`

None

Table `map_category_code_securities`

None

Table `map_category_code_ratio`

| ratio_code   | ratio_name                           |
|:-------------|:-------------------------------------|
| ER           | Equity Ratio                         |
| ROI          | Return On Investment                 |
| DTER         | Debt To Equity Ratio                 |
| ROA          | Return On Assets                     |
| ROLTOA       | Return On Long Term Operating Assets |
| ROE          | Return On Equity                     |
| CROA         | Cash Return On Assets                |
| CROFA        | Cash Return On Fixed Assets          |
</data>

Here is an example of a query that you can refer to:
<example>
#### Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?

```sql

-- 13. Comparing the financial statements of Vinamilk and Masan Group for Q2 2024 and Q2 2020: What are the total assets, total liabilities, and net income for each company? How do these figures reflect the financial health of each company, considering the influence of any subsidiaries or investments they hold?
WITH financial_data AS (
    SELECT
        stock_code,
        year,
        quarter,
        CASE
            WHEN category_code IN ('BS_200', 'BS_300') THEN 'total_assets'
            WHEN category_code = 'BS_400' THEN 'total_liabilities'
            WHEN category_code = 'IS_200' THEN 'net_income'
        END AS metric,
        data
    FROM
        non_bank_financial_report
    WHERE
        stock_code IN ('VNM', 'MSN')
        AND year IN (2020, 2024)
        AND quarter = 2
        AND category_code IN ('BS_200', 'BS_300', 'BS_400', 'IS_200')
)
SELECT
    stock_code,
    year,
    quarter,
    MAX(CASE WHEN metric = 'total_assets' THEN data END) AS total_assets,
    MAX(CASE WHEN metric = 'total_liabilities' THEN data END) AS total_liabilities,
    MAX(CASE WHEN metric = 'net_income' THEN data END) AS net_income
FROM
    financial_data
GROUP BY
    stock_code, year, quarter
ORDER BY
    stock_code, year, quarter;

```
</example>

<instruction>
Think step-by-step and return SQL query that suitable with the database schema based on the natural language query above
</instruction>

Note:
- Do not make any assumption about the column name. You can refer to the mapping table above to find the suitable column name.

==============
assistant
_____________
```sql
SELECT
  ci.stock_code,
  ci.en_company_name,
  fr.data AS roa,
  fr2.data AS roe,
  fa.data AS total_assets,
  fe.data AS total_equity
FROM
  company_info AS ci
JOIN
  financial_ratio AS fr
  ON ci.stock_code = fr.stock_code
JOIN
  financial_ratio AS fr2
  ON ci.stock_code = fr2.stock_code
JOIN
  non_bank_financial_report AS fa
  ON ci.stock_code = fa.stock_code
JOIN
  non_bank_financial_report AS fe
  ON ci.stock_code = fe.stock_code
JOIN
  map_category_code_ratio AS mcr
  ON fr.ratio_code = mcr.ratio_code
JOIN
  map_category_code_ratio AS mcr2
  ON fr2.ratio_code = mcr2.ratio_code
JOIN
  map_category_code_non_bank AS mcn
  ON fa.category_code = mcn.category_code
JOIN
  map_category_code_non_bank AS mcn2
  ON fe.category_code = mcn2.category_code

WHERE
  ci.stock_code IN ('VNM', 'MSN')
  AND fr.year = 2023
  AND fr.quarter = 0
  AND fr2.year = 2023
  AND fr2.quarter = 0
  AND fa.year = 2023
  AND fa.quarter = 0
  AND fe.year = 2023
  AND fe.quarter = 0
  AND mcr.ratio_name = 'Return On Assets'
  AND mcr2.ratio_name = 'Return On Equity'
  AND mcn.en_caption = 'Total assets'
  AND mcn2.en_caption = 'Total equity';
```


### The result of the given SQL:

SQL result for 1:
| stock_code   | en_company_name   | roa   | roe   | total_assets   | total_equity   |
|--------------|-------------------|-------|-------|----------------|----------------|

In [18]:
llm.usage()

{'input_token': 2774, 'output_token': 535}

In [19]:
execution_tables[-1]

Empty DataFrame
Columns: [stock_code, en_company_name, roa, roe, total_assets, total_equity]
Index: []