In [10]:
from llm.llm.chatgpt import ChatGPT
from llm.llm.gemini import Gemini
from setup_db import create_chroma_db, connect_to_db, execute_query, DBHUB
from branch_reasoning import *

In [11]:
llm = ChatGPT()

In [12]:
db_name = 'test_db'
user = 'postgres'
password = '12345678'
port = '5433'
host = 'localhost'

In [13]:
conn = connect_to_db(db_name, user, password, host, port)

Connecting to database test_db, postgres...

In [14]:
collection_chromadb = 'category_bank_chroma'
persist_directory = 'data/category_bank_chroma'
bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'category_non_bank_chroma'
persist_directory = 'data/category_non_bank_chroma'
none_bank_vector_store = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'company_name_chroma'
persist_directory = 'data/company_name_chroma'
vector_db_company = create_chroma_db(collection_chromadb, persist_directory)

collection_chromadb = 'sql_query'
persist_directory = 'data/sql_query'
vector_db_sql = create_chroma_db(collection_chromadb, persist_directory)

In [15]:
vector_db_company.similarity_search('company', k=5)

[Document(page_content='SSI Securities Corporation', metadata={'lang': 'en', 'stock_code': 'SSI'}),
 Document(page_content='SSI', metadata={'lang': 'vi', 'stock_code': 'SSI'}),
 Document(page_content='Masan Group Corporation', metadata={'lang': 'en', 'stock_code': 'MSN'}),
 Document(page_content='VIC', metadata={'lang': 'vi', 'stock_code': 'VIC'}),
 Document(page_content='SSI Securities', metadata={'lang': 'en', 'stock_code': 'SSI'})]

In [16]:
db = DBHUB(conn, bank_vector_store, none_bank_vector_store, vector_db_company, vector_db_sql)

In [17]:
prompt =  "Calculate ROA, ROE of all the company which are owned by VinGroup"

In [18]:
history = llm_branch_reasoning(llm, prompt, db, verbose=True)

CompletionUsage(completion_tokens=106, prompt_tokens=381, total_tokens=487, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0), prompt_tokens_details={'cached_tokens': 0})
Branch reasoning response:
```json
{
    "steps": [
        "Step 1: Identify all companies owned by VinGroup by querying the `sub_and_shareholder` database to find relevant ownership information.",
        "Step 2: Retrieve the financial data (net income and total assets) for each identified company from the appropriate financial report database (`bank_financial_report` or `non_bank_financial_report`).",
        "Step 3: Calculate the ROA and ROE for each company using the retrieved financial data."
    ]
}
```
====================================
CompletionUsage(completion_tokens=40, prompt_tokens=165, total_tokens=205, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0), prompt_tokens_details={'cached_tokens': 0})
Find suitable column response:
```json
{
    "bank_column_name": [],
    "non_bank_column_name": [
        "Net Income",
        "Total Assets",
        "Shareholder's Equity"
    ]
}
```
====================================
Step 0: Extract company name
CompletionUsage(completion_tokens=32, prompt_tokens=71, total_tokens=103, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0), prompt_tokens_details={'cached_tokens': 0})
Get stock code based on company name response:
```json
{
    "company_name": ["VinFast", "VinHomes", "VinMart", "Vinpearl", "VinGroup"]
}
```
====================================
type of company_info_df: <class 'pandas.core.frame.DataFrame'>
Step 1: Step 1: Identify all companies owned by VinGroup by querying the `sub_and_shareholder` database to find relevant ownership information.
RAG for step:  1 ```sql

-- 1. Calculate ROE of VIC, VNM, and HPG for the first two quarters of 2024

-- Calculate ROE of VIC, VRE and VHM in first 2 quarter of 2024

-- Get Net income value
WITH net_income AS (
    SELECT nbfr.data AS net_income, nbfr.stock_code as stock_code, nbfr.quarter as quarter, nbfr.year as year
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc
      ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code in ('VIC', 'VNM', 'HPG')
      AND nbfr.year = 2024
      AND nbfr.quarter in (1,2)
      AND mc.en_caption = 'Profit after Corporate Income Tax'),

-- Get equity value
equity AS (
    SELECT nbfr.data AS equity, nbfr.stock_code as stock_code, nbfr.quarter as quarter, nbfr.year as year
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc
      ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code in ('VIC', 'VNM', 'HPG')
      AND nbfr.year = 2024
      AND nbfr.quarter in (1,2)
      AND mc.en_caption = 'Equity'
)
-- Select detail information
SELECT
	net_income.stock_code,
	net_income.year,
	net_income.quarter,
	net_income.net_income,
    (net_income.net_income / equity.equity) AS ROE

FROM net_income
JOIN equity
ON net_income.stock_code = equity.stock_code
AND net_income.quarter = equity.quarter
AND net_income.year = equity.year;
-- Join on both quarter and year to avoid duplication

```
CompletionUsage(completion_tokens=89, prompt_tokens=1835, total_tokens=1924, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0), prompt_tokens_details={'cached_tokens': 0})
Step 1 response:
To identify all companies owned by VinGroup, we will query the `sub_and_shareholder` table to find relevant ownership information. Here is the SQL query for Step 1:

```sql
SELECT invest_on
FROM sub_and_shareholder
WHERE stock_code = 'VIC';
```

This query retrieves the `invest_on` column, which indicates the companies that are owned by VinGroup (represented by the stock code 'VIC').
====================================
SQL Code 1:
SELECT invest_on
FROM sub_and_shareholder
WHERE stock_code = 'VIC';

type of company_info_df: <class 'pandas.core.frame.DataFrame'>
type of company_info_df: <class 'pandas.core.frame.DataFrame'>
Step 2: Step 2: Retrieve the financial data (net income and total assets) for each identified company from the appropriate financial report database (`bank_financial_report` or `non_bank_financial_report`).
RAG for step:  2 ```sql

-- 6. Top 5 companies by Total Assets in 2023

SELECT nbfr.stock_code, nbfr.year, nbfr.data AS total_assets
FROM non_bank_financial_report nbfr
JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
WHERE nbfr.year = 2023 AND mc.en_caption = 'Total Assets' AND nbfr.quarter = 0
ORDER BY total_assets DESC
LIMIT 5;

```
CompletionUsage(completion_tokens=350, prompt_tokens=2399, total_tokens=2749, completion_tokens_details=CompletionTokensDetails(reasoning_tokens=0), prompt_tokens_details={'cached_tokens': 1152})
Step 2 response:
To retrieve the financial data (net income and total assets) for each identified company owned by VinGroup (VHM, VRE), we will query the `non_bank_financial_report` table for net income and total assets. Here is the SQL query for Step 2:

```sql
-- Retrieve financial data for VHM and VRE

-- Get Net Income
WITH net_income AS (
    SELECT nbfr.stock_code, nbfr.data AS net_income
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code IN ('VHM', 'VRE')
      AND mc.en_caption = 'Profit after Corporate Income Tax'
      AND nbfr.year = 2023
      AND nbfr.quarter = 0
),

-- Get Total Assets
total_assets AS (
    SELECT nbfr.stock_code, nbfr.data AS total_assets
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code IN ('VHM', 'VRE')
      AND mc.en_caption = 'Total Assets'
      AND nbfr.year = 2023
      AND nbfr.quarter = 0
)

-- Select the financial data
SELECT
    ni.stock_code,
    ni.net_income,
    ta.total_assets
FROM net_income ni
JOIN total_assets ta ON ni.stock_code = ta.stock_code;
```

This query retrieves the net income and total assets for the companies VHM and VRE for the year 2023, ensuring that we are looking at the annual reports (quarter = 0).
====================================
SQL Code 1:
-- Retrieve financial data for VHM and VRE

-- Get Net Income
WITH net_income AS (
    SELECT nbfr.stock_code, nbfr.data AS net_income
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code IN ('VHM', 'VRE')
      AND mc.en_caption = 'Profit after Corporate Income Tax'
      AND nbfr.year = 2023
      AND nbfr.quarter = 0
),

-- Get Total Assets
total_assets AS (
    SELECT nbfr.stock_code, nbfr.data AS total_assets
    FROM non_bank_financial_report nbfr
    JOIN map_category_code_non_bank mc ON nbfr.category_code = mc.category_code
    WHERE nbfr.stock_code IN ('VHM', 'VRE')
      AND mc.en_caption = 'Total Assets'
      AND nbfr.year = 2023
      AND nbfr.quarter = 0
)

-- Select the financial data
SELECT
    ni.stock_code,
    ni.net_income,
    ta.total_assets
FROM net_income ni
JOIN total_assets ta ON ni.stock_code = ta.stock_code;

type of company_info_df: <class 'pandas.core.frame.DataFrame'>
syntax error at or near ")"
LINE 1: ..., industry, is_bank FROM company_info WHERE stock_code IN ()
                                                                      ^

type of company_info_df: <class 'str'>

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid