In [1]:
import pandas as pd
import numpy as np
mapping_file = pd.ExcelFile('vietnames_to_fiin.xlsx')

In [2]:
df_map_bank = mapping_file.parse('fiin_bank')
df_map_sec = mapping_file.parse('fiin_sec')
df_map_corp = mapping_file.parse('fiin_corp')

In [3]:
df_map_tm_bank = mapping_file.parse('fiin_TM_bank')
df_map_tm_sec = mapping_file.parse('fiin_TM_sec')
df_map_tm_corp = mapping_file.parse('fiin_TM_corp')

In [4]:
df_map_sec.dropna(subset=['category_code'], inplace=True)
df_map_bank.dropna(subset=['category_code'], inplace=True)
df_map_corp.dropna(subset=['category_code'], inplace=True)

In [5]:
df_map_bank

,old_caption,category_code,vi_caption,en_caption
0,TỔNG TÀI SẢN CÓ,BS_300,TỔNG TÀI SẢN,TOTAL ASSETS
1,"I.Tiền mặt, vàng bạc, đá quý",BS_110,"Tiền mặt, vàng bạc, đá quý","Cash, gold, silver, and precious stones"
2,II.Tiền gửi tại Ngân hàng Nhà nước,BS_120,Tiền gửi tại Ngân hàng nhà nước Việt Nam,Deposits at the State Bank of Vietnam
3,III. Tiền gửi và cho vay các tổ chức tín dụng ...,BS_130,Tiền gửi tại các TCTD khác và cho vay các...,Deposits at and loans to other credit institut...
4,1.Tiền gửi tại các tổ chức tín dụng khác,BS_131,Tiền gửi tại các TCTD khác,Deposits at other credit institutions
...,...,...,...,...
146,V. Tiền và các khoản tương đương tiền tại thời...,CF_043,Tiền và các khoản tương đương tiền tài thời đi...,Cash and cash equivalents at the beginning of ...
147,VI. Điều chỉnh ảnh hưởng của thay đổi tỷ giá,CF_044,Điều chỉnh ảnh hưởng của thay đổi tỷ giá,Adjustment for the effects of exchange rate ch...
148,VII. Tiền và các khoản tương đương tiền tại th...,CF_045,Tiền và các khoản tương đương tiền tại thời đi...,Cash and cash equivalents at the end of the pe...
149,Nợ ngắn hạn,BS_361,Nợ ngắn hạn,Current liabilities
150,Dư nợ tín dụng,BS_200,Dư nợ tín dụng,Outstanding Credit Balance

In [5]:
df_map_bank

,old_caption,category_code,vi_caption,en_caption
0,TỔNG TÀI SẢN CÓ,BS_300,TỔNG TÀI SẢN,TOTAL ASSETS
1,"I.Tiền mặt, vàng bạc, đá quý",BS_110,"Tiền mặt, vàng bạc, đá quý","Cash, gold, silver, and precious stones"
2,II.Tiền gửi tại Ngân hàng Nhà nước,BS_120,Tiền gửi tại Ngân hàng nhà nước Việt Nam,Deposits at the State Bank of Vietnam
3,III. Tiền gửi và cho vay các tổ chức tín dụng ...,BS_130,Tiền gửi tại các TCTD khác và cho vay các...,Deposits at and loans to other credit institut...
4,1.Tiền gửi tại các tổ chức tín dụng khác,BS_131,Tiền gửi tại các TCTD khác,Deposits at other credit institutions
...,...,...,...,...
144,III.Lưu chuyển tiền thuần từ hoạt động tài chính,CF_041,Lưu chuyển tiền thuần từ hoạt động tài chính,Net cash flow from financing activities
145,IV.Lưu chuyển tiền thuần trong kỳ,CF_042,Lưu chuyển tiền thuần trong kỳ,Net cash flow during the period
146,V. Tiền và các khoản tương đương tiền tại thời...,CF_043,Tiền và các khoản tương đương tiền tài thời đi...,Cash and cash equivalents at the beginning of ...
147,VI. Điều chỉnh ảnh hưởng của thay đổi tỷ giá,CF_044,Điều chỉnh ảnh hưởng của thay đổi tỷ giá,Adjustment for the effects of exchange rate ch...
148,VII. Tiền và các khoản tương đương tiền tại th...,CF_045,Tiền và các khoản tương đương tiền tại thời đi...,Cash and cash equivalents at the end of the pe...
149,Nợ ngắn hạn,BS_361,Nợ ngắn hạn,Current liabilities

In [6]:
# df_map_sec.to_csv('../csv/v3/map_category_code_sec.csv', index=False)
# df_map_bank.to_csv('../csv/v3/map_category_code_bank.csv', index=False)
# df_map_corp.to_csv('../csv/v3/map_category_code_corp.csv', index=False)

In [7]:
df_bs = mapping_file.parse('Standard BS')
df_is = mapping_file.parse('Standard IS')
df_cf = mapping_file.parse('Standard CF')

df_bs['Universal_caption'] = df_bs['Universal_caption'].apply(lambda x: f'(Balance sheet) {x}')
df_is['Universal_caption'] = df_is['Universal_caption'].apply(lambda x: f'(Income statement) {x}')
df_cf['Universal_caption'] = df_cf['Universal_caption'].apply(lambda x: f'(Cash flow) {x}')
df = pd.concat([df_bs, df_is, df_cf], ignore_index=True)

df.rename(columns={'Universal_caption': 'en_caption', 'universal_code':'category_code'}, inplace=True)

# df.to_csv('../csv/v3/map_category_code_universal.csv', index=False)

df.rename(columns={'category_code': 'universal_code'}, inplace=True)

In [8]:
df

,Corp,corp_code,Securities,sec_code,Bank,bank_code,en_caption,universal_code,parent_code
0,A. CURRENT ASSETS,BS_100,A. CURRENT ASSETS,BS_100,NaN,NaN,(Balance sheet) A. CURRENT ASSETS,BS_100,BS_100
1,NaN,NaN,I. Financial Assets,BS_110,NaN,NaN,(Balance sheet) (Securities) Financial Assets,BS_101,BS_101
2,I. Cash and cash equivalents,BS_110,1. Cash and cash equivalents,BS_111,NaN,NaN,(Balance sheet) Cash and cash equivalents,BS_110,BS_110
3,Cash,BS_111,1.1. Cash,BS_111.1,"Cash, precious metals, gemstones",BS_110,(Balance sheet) Cash,BS_111,BS_110
4,NaN,NaN,NaN,NaN,Deposits at the Central Bank,BS_120,(Balance sheet) (Bank) Deposits at the Central...,BS_112,BS_110
...,...,...,...,...,...,...,...,...,...
341,Lưu chuyển tiền thuần từ hoạt động tài chính,CF_040,Lưu chuyển tiền tệ từ hoạt động tài chính,CF_080,III.Lưu chuyển tiền thuần từ hoạt động tài chính,CF_041,(Cash flow) Net cash flow from financing activ...,CF_090,CF_090
342,Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40),CF_050,LƯU CHUYỂN TIỀN THUẦN TRONG KỲ,CF_090,IV.Lưu chuyển tiền thuần trong kỳ,CF_042,(Cash flow) Net cash flow during the period,CF_100,CF_100
343,Tiền và tương đương tiền đầu kỳ,CF_060,TIỀN VÀ TƯƠNG ĐƯƠNG TIỀN ĐẦU KỲ,CF_101,V. Tiền và các khoản tương đương tiền tại thời...,CF_043,(Cash flow) Cash and cash equivalents at the b...,CF_110,CF_110
344,Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi...,CF_061,NaN,NaN,VI. Điều chỉnh ảnh hưởng của thay đổi tỷ giá,CF_044,(Cash flow) Effects of exchange rate changes o...,CF_120,CF_120
345,Tiền và tương đương tiền cuối kỳ (70 = 50+60+61),CF_070,TIỀN VÀ TƯƠNG ĐƯƠNG TIỀN CUỐI KỲ,CF_103,VII. Tiền và các khoản tương đương tiền tại th...,CF_045,(Cash flow) Cash and cash equivalents at the e...,CF_130,CF_130

In [9]:
def get_source(text):
    if isinstance(text, str):
        return text.split('_')[0]
    return text

df_map_bank['source'] = df_map_bank['category_code'].apply(get_source)
df_map_sec['source'] = df_map_sec['category_code'].apply(get_source)    
df_map_corp['source'] = df_map_corp['category_code'].apply(get_source)

In [10]:
df_map_bank_bs = df_map_bank[df_map_bank['source'] == 'BS']
df_map_bank_is = df_map_bank[df_map_bank['source'] == 'IS']
df_map_bank_cf = df_map_bank[df_map_bank['source'] == 'CF']

df_map_corp_bs = df_map_corp[df_map_corp['source'] == 'BS']
df_map_corp_is = df_map_corp[df_map_corp['source'] == 'IS']
df_map_corp_cf = df_map_corp[df_map_corp['source'] == 'CF']

df_map_sec_bs = df_map_sec[df_map_sec['source'] == 'BS']
df_map_sec_is = df_map_sec[df_map_sec['source'] == 'IS']
df_map_sec_cf = df_map_sec[df_map_sec['source'] == 'CF']

In [11]:
bank_args = {
    'Kết quả kinh doanh': {
        'nrows': 30,
        'mapping': df_map_bank_is
    },
    'Bảng cân đối kế toán': {
        'nrows': 92,
        'mapping': df_map_bank_bs
    },
    'Lưu chuyển tiền tệ': {
        'nrows': 62,
        'mapping': df_map_bank_cf
    }
    
}

corp_args = {
    'Kết quả kinh doanh': {
        'nrows': 29,
        'mapping': df_map_corp_is
    },
    'Bảng cân đối kế toán': {
        'nrows': 126,
        'mapping': df_map_corp_bs
    },
    'Lưu chuyển tiền tệ': {
        'nrows': 45,
        'mapping': df_map_corp_cf
    }
    
}

sec_args = {
    'Kết quả kinh doanh': {
        'nrows': 93,
        'mapping': df_map_sec_is
    },
    'Bảng cân đối kế toán': {
        'nrows': 216,
        'mapping': df_map_sec_bs
    },
    'Lưu chuyển tiền tệ': {
        'nrows': 159,
        'mapping': df_map_sec_cf
    }
    
}

In [12]:

def get_data(excel_file, type_):
    
    dfs = []
    if type_ == 'bank':
        args = bank_args
    elif type_ == 'corp':
        args = corp_args
    else:
        args = sec_args
       
    sheet_names = list(args.keys())
    for sheet_name in sheet_names:

        df_bs = excel_file.parse(
            sheet_name = sheet_name,
            skiprows=10,
            nrows=args[sheet_name]['nrows'],
        )

        df_bs = df_bs.iloc[3:]
        fiin_cate = df_bs['Chỉ tiêuTriệu VND'].values.tolist()
        map_cate = args[sheet_name]['mapping'][['category_code', 'vi_caption']].values.tolist()

        # Map the corresponding category code

        map_index = 0
        cate_index = 0
        cate_code = []
        for i in range(len(fiin_cate)):
            cate_index = i
            if fiin_cate[i] == map_cate[map_index][1]:
                
                cate_code.append(map_cate[map_index][0])
                map_index += 1
            else:
                cate_code.append(np.nan)
            if map_index == len(map_cate):
                break
            
        cate_code.extend([np.nan]*(len(fiin_cate) - len(cate_code)))


        df_bs['category_code'] = cate_code
    #     dfs.append(df_bs)
    # return dfs
    
        # Convert to table

        table = []
        df_bs.dropna(subset=['category_code'], inplace=True)

        for index, row in df_bs.iterrows():
            
            for col in df_bs.columns:
                if 'VND' in col or col == 'category_code':
                    continue
                
                time = col 
                data = row[col]
                cate = row['category_code']
                
                table.append([cate, time, data])
                
        df = pd.DataFrame(table, columns=['category_code', 'time', 'data'])
        dfs.append(df)
        
    df = pd.concat(dfs)
    return df

In [22]:
non_bank_stock_code = ["HSG", "ELC", "VSC", "ACV", "REE", "SZC", "CSV", "PAN", "BSR", "SGP", "GMD", "ITD","FOX", "KDC", "SBT", "VGC", "HBC", "CTD", "DIG", "SCR", "KBC","MWG", "NHA", "VNM", "HPG", "VHM", "PNJ", "YEG", "FPT","MSN", "GAS", "VRE", "VJC", "VIC", "PLX", "SAB", "POW", "GVR", "BCM", "VPI", "DVM", "KDH", "HDC", "TCH", "CEO", "HUT", "NVL", "DBC", "SAF", "DHT", "VTP", "PVT", "FRT", "DGC", "DCM", "NKG", "CMG", "VGI", "PVC", "CAP", "DTD", "HLD", "L14", "L18", "LAS", "LHC", "NTP", "PLC", "PSD", "PVG", "PVS", "SLS", "TIG", "TMB", "TNG", "TVD", "VC3", "VCS", "DXG"]
bank_stock_code = ["BID", "EIB", "OCB", "CTG", "VCB", "ACB", "MBB", "HDB", "TPB", "VPB",  "STB", "TCB",  "SHB", "VIB",  "ABB", "LPB", "NVB"]
securities_stock_code = ["MBS", "VND", "SSI", "VIX", "ORS"]


file_dir = "../../fiin/year/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Yearly_{code}_20241218.xlsx"
file_dir_quarter = "../../fiin/quarter/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Quarterly_{code}_20241218.xlsx"

new = True
if new:
    bank_stock_code = ["EVF", "MSB", "NAB", "SGB", "VAB", "KLB", "BVB", "PGB", "NVB"]
    securities_stock_code = ["VCI", "TVS", "SHS", "DSE", "HCM", "VDS", "APG", "CTS", "AGR"]
    non_bank_stock_code = ["VCG", "LCG", "DPG", "CTI", "TIS", "PSH", "TLH", "STK", "TDG", "TVN", "DRI", "CNG", "SIP", "PVP", "VGS", "VHC", "IJC", "CII", "SJS", "NLG", "NT2", "LBM", "PC1", "HAH", "HAG", "KOS", "RAL", "PHR", "ILB", "AGG", "ASM", "CLL", "CRE", "D2D", "UIC", "TMS", "PPC", "PTB", "VOS", "VIP", "VTO", "NRC", "GEX", "HTN", "VLC", "GEE", "TCM", "PDR", "SCR", "HPX", "LDG", "AAA", "CTR", "SAM", "BWE", "SGT", "BMP", "ITC", "TTN", "VTE", "VHC", "MSH", "TTF", "ANV", "CMX", "IDI", "FMC", "BAF", "HT1", "PVD", "FIT", "ACL", "ABT", "AAM", "PET", "DGW", "DPM", "HDG", "IMP", "MAS"]

    file_dir = "../../fiin/new/year/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Yearly_Hop_nhat_{code}_20250217.xlsx"
    file_dir_quarter = "../../fiin/new/quarter/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Quarterly_Hop_nhat_{code}_20250217.xlsx"

In [23]:
from tqdm import tqdm

In [24]:

dfs_corp = []
for code in tqdm(non_bank_stock_code):
    
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_corp_y = get_data(excel_file, 'corp')
    df_corp_y['stock_code'] = code
    dfs_corp.append(df_corp_y)
    
dfs_bank = []
for code in tqdm(bank_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_bank_y = get_data(excel_file, 'bank')
    df_bank_y['stock_code'] = code
    dfs_bank.append(df_bank_y)
    
dfs_sec = []
for code in tqdm(securities_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_sec_y = get_data(excel_file, 'sec')
    df_sec_y['stock_code'] = code
    dfs_sec.append(df_sec_y)

100%|██████████| 80/80 [00:01<00:00, 41.11it/s]
100%|██████████| 9/9 [00:00<00:00, 37.20it/s]
100%|██████████| 9/9 [00:00<00:00, 24.11it/s]

In [25]:
# file_dir_quarter = "../../fiin/quarter/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Quarterly_{code}_20241218.xlsx"

for code in tqdm(non_bank_stock_code):
    excel_file = pd.ExcelFile(file_dir_quarter.format(code=code), engine="openpyxl")
    df_corp_q = get_data(excel_file, 'corp')
    df_corp_q['stock_code'] = code
    dfs_corp.append(df_corp_q)
    
for code in tqdm(bank_stock_code):
    excel_file = pd.ExcelFile(file_dir_quarter.format(code=code), engine="openpyxl")
    df_bank_q = get_data(excel_file, 'bank')
    df_bank_q['stock_code'] = code
    dfs_bank.append(df_bank_q)
    
for code in tqdm(securities_stock_code):
    excel_file = pd.ExcelFile(file_dir_quarter.format(code=code), engine="openpyxl")
    df_sec_q = get_data(excel_file, 'sec')
    df_sec_q['stock_code'] = code
    dfs_sec.append(df_sec_q)

100%|██████████| 80/80 [00:04<00:00, 17.87it/s]
100%|██████████| 9/9 [00:00<00:00, 19.05it/s]
100%|██████████| 9/9 [00:00<00:00, 10.20it/s]

In [26]:
df_bank = pd.concat(dfs_bank)
df_corp = pd.concat(dfs_corp)
df_sec = pd.concat( dfs_sec)

In [27]:
df_bank

     category_code     time          data stock_code
0           IS_003     2008  1.661787e+05        EVF
1           IS_003     2009  4.138763e+05        EVF
2           IS_003     2010  5.695140e+05        EVF
3           IS_003     2011  5.825148e+05        EVF
4           IS_003     2012  3.839025e+05        EVF
...            ...      ...           ...        ...
2515        CF_045  Q4/2023  1.099647e+07        NVB
2516        CF_045  Q1/2024  1.143716e+07        NVB
2517        CF_045  Q2/2024  1.033376e+07        NVB
2518        CF_045  Q3/2024  1.437061e+07        NVB
2519        CF_045  Q4/2024  1.887788e+07        NVB

[88160 rows x 4 columns]

In [28]:
def get_quarter_time(text):
    if '/' not in text:
        return 0, int(text)
    
    quarter, year = text.split('/')
    return int(quarter[1]), int(year)

In [29]:
df_bank['quarter'], df_bank['year'] = zip(*df_bank['time'].apply(get_quarter_time))
df_corp['quarter'], df_corp['year'] = zip(*df_corp['time'].apply(get_quarter_time))
df_sec['quarter'], df_sec['year'] = zip(*df_sec['time'].apply(get_quarter_time))

In [30]:
df_bank.drop(columns=['time'], inplace=True)
df_corp.drop(columns=['time'], inplace=True)
df_sec.drop(columns=['time'], inplace=True)

In [31]:
quarter_to_month = {
    0: 12,  # Quarter 0 is December of the same year
    1: 3,
    2: 6,
    3: 9,
    4: 12
}

df_sec['date_added'] = pd.to_datetime(df_sec.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))
df_bank['date_added'] = pd.to_datetime(df_bank.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))
df_corp['date_added'] = pd.to_datetime(df_corp.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))

In [ ]:
# import pandas as pd
# import numpy as np

# df_bank = pd.read_parquet('../csv/v3/bank_financial_report.parquet')

In [32]:
len(df_bank)

88160

In [33]:
pivot_df  = df_bank[df_bank['category_code'].isin(['BS_160', 'BS_180', 'BS_131', 'BS_139'])].pivot_table(
    index=["stock_code", "year", "quarter", "date_added"], 
    columns="category_code", 
    values="data"
).reset_index()

pivot_df['BS_200'] = pivot_df['BS_160'] + pivot_df['BS_180'] - pivot_df['BS_131'] - pivot_df['BS_139']

new_rows = pivot_df.melt(
    id_vars=["stock_code", "year", "quarter", "date_added"], 
    value_vars=["BS_200"], 
    var_name="category_code", 
    value_name="data"
)

df_bank = pd.concat([df_bank, new_rows], ignore_index=True)

In [34]:
pivot_df  = df_bank[df_bank['category_code'].isin(['BS_310', 'BS_320', 'BS_321', 'BS_322', 'BS_330', 'BS_340', 'BS_350', 'BS_360'])].pivot_table(
    index=["stock_code", "year", "quarter", "date_added"], 
    columns="category_code", 
    values="data"
).reset_index()

pivot_df['BS_361'] = pivot_df['BS_310'] + pivot_df['BS_320'] + pivot_df['BS_321'] + pivot_df['BS_322'] + pivot_df['BS_330'] + pivot_df['BS_340'] + pivot_df['BS_350'] + pivot_df['BS_360']

new_rows = pivot_df.melt(
    id_vars=["stock_code", "year", "quarter", "date_added"], 
    value_vars=["BS_361"], 
    var_name="category_code", 
    value_name="data"
)

df_bank = pd.concat([df_bank, new_rows], ignore_index=True)
# df_bank.to_parquet('../csv/bank_financial_report_v2_2.parquet', index=False)

In [35]:
pivot_df = df_sec[df_sec['category_code'].isin(['IS_040.1', 'IS_050', 'IS_060', 'IS_061', 'IS_062'])].pivot_table(
    index=["stock_code", "year", "quarter", "date_added"], 
    columns="category_code", 
    values="data"
).reset_index()

pivot_df['IS_070'] = pivot_df['IS_040.1'] + pivot_df['IS_050'] - pivot_df['IS_060'] - pivot_df['IS_061'] - pivot_df['IS_062']

new_rows = pivot_df.melt(
    id_vars=["stock_code", "year", "quarter", "date_added"], 
    value_vars=["IS_040.1"], 
    var_name="category_code", 
    value_name="data"
)
df_sec = pd.concat([df_sec, new_rows], ignore_index=True)

## Total Operating Cost

In [36]:
pivot_df = df_sec[df_sec['category_code'].isin(['IS_050', 'IS_060', 'IS_061', 'IS_062'])].pivot_table(
    index=["stock_code", "year", "quarter", "date_added"], 
    columns="category_code", 
    values="data"
).reset_index()

pivot_df['IS_095'] =  pivot_df['IS_060'] - pivot_df['IS_050'] + pivot_df['IS_061'] + pivot_df['IS_062']

new_rows = pivot_df.melt(
    id_vars=["stock_code", "year", "quarter", "date_added"], 
    value_vars=["IS_095"], 
    var_name="category_code", 
    value_name="data"
)
df_sec = pd.concat([df_sec, new_rows], ignore_index=True)

In [37]:
pivot_df = df_corp[df_corp['category_code'].isin(['IS_021', 'IS_022', 'IS_024', 'IS_025', 'IS_026'])].pivot_table(
    index=["stock_code", "year", "quarter", "date_added"], 
    columns="category_code", 
    values="data"
).reset_index()

pivot_df['IS_027'] =  pivot_df['IS_022'] - pivot_df['IS_021'] + pivot_df['IS_024'] + pivot_df['IS_025'] + pivot_df['IS_026']

new_rows = pivot_df.melt(
    id_vars=["stock_code", "year", "quarter", "date_added"], 
    value_vars=["IS_027"], 
    var_name="category_code", 
    value_name="data"
)
df_corp = pd.concat([df_corp, new_rows], ignore_index=True)

## Fix Revenue here

In [38]:
df_sec = df_sec[df_sec['year']>=2015]
df_bank = df_bank[df_bank['year']>=2015]
df_corp = df_corp[df_corp['year']>=2015]

In [39]:
df_sec.fillna(0, inplace=True)
df_bank.fillna(0, inplace=True)
df_corp.fillna(0, inplace=True)

In [40]:
df_sec.to_parquet('../csv/new/v3/securities_financial_report.parquet', index=False)
df_bank.to_parquet('../csv/new/v3/bank_financial_report.parquet', index=False)
df_corp.to_parquet('../csv/new/v3/corp_financial_report.parquet', index=False)

In [31]:
# df_ratio = pd.read_parquet('../csv/financial_ratio_v3.parquet')

In [ ]:
df_sec = pd.read_parquet('../csv/new/v3/securities_financial_report.parquet')
df_bank = pd.read_parquet('../csv/new/v3/bank_financial_report.parquet')
df_corp = pd.read_parquet('../csv/new/v3/corp_financial_report.parquet')

In [33]:
df_bank.rename(columns={'category_code': 'bank_code'}, inplace=True)
df_sec.rename(columns={'category_code': 'sec_code'}, inplace=True)
df_corp.rename(columns={'category_code': 'corp_code'}, inplace=True)

In [34]:
df_sec = pd.merge(df_sec, df[['sec_code', 'universal_code']], how='left', on='sec_code')
df_corp = pd.merge(df_corp, df[['corp_code', 'universal_code']], how='left', on='corp_code')
df_bank = pd.merge(df_bank, df[['bank_code', 'universal_code']], how='left', on='bank_code')

df_bank.drop(columns=['bank_code'], inplace=True)
df_sec.drop(columns=['sec_code'], inplace=True)
df_corp.drop(columns=['corp_code'], inplace=True)
# df_bank.rename(columns={'bank_code': 'category_code'}, inplace=True)
# df_sec.rename(columns={'sec_code': 'category_code'}, inplace=True)
# df_corp.rename(columns={'corp_code': 'category_code'}, inplace=True)

In [35]:
df_fs = pd.concat([df_bank, df_sec, df_corp], ignore_index=True)
df_fs.rename(columns={'universal_code': 'category_code'}, inplace=True)

In [36]:
df_fs

                data stock_code  quarter  year date_added category_code
0       1.931497e+07        BID        0  2015 2015-12-30        IS_150
1       2.339361e+07        BID        0  2016 2016-12-30        IS_150
2       3.095533e+07        BID        0  2017 2017-12-30        IS_150
3       3.472085e+07        BID        0  2018 2018-12-30        IS_150
4       3.597781e+07        BID        0  2019 2019-12-30        IS_150
...              ...        ...      ...   ...        ...           ...
829034 -4.082407e+04        YEG        3  2023 2023-09-30        IS_057
829035 -8.856448e+04        YEG        4  2023 2023-12-30        IS_057
829036 -7.546336e+04        YEG        1  2024 2024-03-30        IS_057
829037 -8.250625e+04        YEG        2  2024 2024-06-30        IS_057
829038 -9.208664e+04        YEG        3  2024 2024-09-30        IS_057

[829039 rows x 6 columns]

In [37]:
df_fs.isna().sum()

data               0
stock_code         0
quarter            0
year               0
date_added         0
category_code    239
dtype: int64

In [38]:
df

,Corp,corp_code,Securities,sec_code,Bank,bank_code,en_caption,universal_code,parent_code
0,A. CURRENT ASSETS,BS_100,A. CURRENT ASSETS,BS_100,NaN,NaN,(Balance sheet) A. CURRENT ASSETS,BS_100,BS_100
1,NaN,NaN,I. Financial Assets,BS_110,NaN,NaN,(Balance sheet) (Securities) Financial Assets,BS_101,BS_101
2,I. Cash and cash equivalents,BS_110,1. Cash and cash equivalents,BS_111,NaN,NaN,(Balance sheet) Cash and cash equivalents,BS_110,BS_110
3,Cash,BS_111,1.1. Cash,BS_111.1,"Cash, precious metals, gemstones",BS_110,(Balance sheet) Cash,BS_111,BS_110
4,NaN,NaN,NaN,NaN,Deposits at the Central Bank,BS_120,(Balance sheet) (Bank) Deposits at the Central...,BS_112,BS_110
...,...,...,...,...,...,...,...,...,...
340,Lưu chuyển tiền thuần từ hoạt động tài chính,CF_040,Lưu chuyển tiền tệ từ hoạt động tài chính,CF_080,III.Lưu chuyển tiền thuần từ hoạt động tài chính,CF_041,(Cash flow) Net cash flow from financing activ...,CF_090,CF_090
341,Lưu chuyển tiền thuần trong kỳ (50 = 20+30+40),CF_050,LƯU CHUYỂN TIỀN THUẦN TRONG KỲ,CF_090,IV.Lưu chuyển tiền thuần trong kỳ,CF_042,(Cash flow) Net cash flow during the period,CF_100,CF_100
342,Tiền và tương đương tiền đầu kỳ,CF_060,TIỀN VÀ TƯƠNG ĐƯƠNG TIỀN ĐẦU KỲ,CF_101,V. Tiền và các khoản tương đương tiền tại thời...,CF_043,(Cash flow) Cash and cash equivalents at the b...,CF_110,CF_110
343,Ảnh hưởng của thay đổi tỷ giá hối đoái quy đổi...,CF_061,NaN,NaN,VI. Điều chỉnh ảnh hưởng của thay đổi tỷ giá,CF_044,(Cash flow) Effects of exchange rate changes o...,CF_120,CF_120
344,Tiền và tương đương tiền cuối kỳ (70 = 50+60+61),CF_070,TIỀN VÀ TƯƠNG ĐƯƠNG TIỀN CUỐI KỲ,CF_103,VII. Tiền và các khoản tương đương tiền tại th...,CF_045,(Cash flow) Cash and cash equivalents at the e...,CF_130,CF_130

In [39]:
all_categories = df['universal_code'].unique()
categories = df_fs['category_code'].unique()

len(all_categories), len(categories)

(345, 336)

In [40]:
categories = set(categories)
missing_categories = []
for cate in all_categories:
    if cate not in categories:
        missing_categories.append(cate)
        
missing_categories

['BS_910',
 'BS_911',
 'BS_912',
 'BS_913',
 'BS_920',
 'BS_921',
 'BS_922',
 'IS_007',
 'IS_025',
 'IS_112']

In [41]:
df_fs[df_fs['category_code'].isnull()]

                 data stock_code  quarter  year date_added category_code
121190   52547.157092        MBS        0  2015 2015-12-30           NaN
121191   72135.105403        MBS        0  2016 2016-12-30           NaN
121192  291083.138880        MBS        0  2017 2017-12-30           NaN
121193  267197.150144        MBS        0  2018 2018-12-30           NaN
121194  102138.983852        MBS        0  2019 2019-12-30           NaN
...               ...        ...      ...   ...        ...           ...
171972  112484.132802        ORS        3  2023 2023-09-30           NaN
171973  126391.229291        ORS        4  2023 2023-12-30           NaN
171974   84385.968936        ORS        1  2024 2024-03-30           NaN
171975  128185.117730        ORS        2  2024 2024-06-30           NaN
171976  144886.398491        ORS        3  2024 2024-09-30           NaN

[239 rows x 6 columns]

In [42]:
df_fs.dropna(subset=['category_code'], inplace=True)

In [43]:
df_fs.to_parquet('../data/financial_statement_v3.parquet', index=False)

# Explaination

In [41]:
import pandas as pd
import numpy as np
mapping_file = pd.ExcelFile('vietnames_to_fiin.xlsx')

In [42]:
df_map_tm_bank = mapping_file.parse('fiin_TM_bank')
df_map_tm_sec = mapping_file.parse('fiin_TM_sec')
df_map_tm_corp = mapping_file.parse('fiin_TM_corp')

In [43]:
df_map_tm_sec

,fiin_caption,keep,code,category_code,parent_code,share_code,vi_caption,en_caption
0,CHỨNG KHOÁN LƯU KÝ NIÊM YẾT,0,1,TM_1,NaN,NaN,CHỨNG KHOÁN LƯU KÝ NIÊM YẾT,NaN
1,Chứng khoán giao dịch,0,2,TM_2,NaN,NaN,Chứng khoán giao dịch,NaN
2,Chứng khoán giao dịch của thành viên...,0,3,TM_3,NaN,NaN,Chứng khoán giao dịch của thành viên...,NaN
3,Chứng khoán giao dịch của khách hàng...,0,4,TM_4,NaN,NaN,Chứng khoán giao dịch của khách hàng...,NaN
4,Chứng khoán giao dịch của khách hàng...,0,5,TM_5,NaN,NaN,Chứng khoán giao dịch của khách hàng...,NaN
...,...,...,...,...,...,...,...,...
637,"Chi phí nguyên liệu, vật liệu",0,638,TM_638,NaN,NaN,"Chi phí nguyên liệu, vật liệu",NaN
638,Chi phí nhân công,0,639,TM_639,NaN,NaN,Chi phí nhân công,NaN
639,Chi phí khấu hao tài sản cố định,0,640,TM_640,NaN,NaN,Chi phí khấu hao tài sản cố định,NaN
640,Chi phí dịch vụ mua ngoài,0,641,TM_641,NaN,NaN,Chi phí dịch vụ mua ngoài,NaN
641,Chi phí khác bằng tiền,0,642,TM_642,NaN,NaN,Chi phí khác bằng tiền,NaN

In [44]:
df_map_tm_bank['category_code'] = df_map_tm_bank['category_code'].apply(lambda x: "Bank_" + x)
df_map_tm_sec['category_code'] = df_map_tm_sec['category_code'].apply(lambda x: "Sec_" + x)
df_map_tm_corp['category_code'] = df_map_tm_corp['category_code'].apply(lambda x: "Corp_" + x)

In [45]:
map_share_sec = ~df_map_tm_sec['share_code'].isna()
map_share_corp = ~df_map_tm_corp['share_code'].isna()

df_map_tm_sec.loc[map_share_sec, 'category_code'] = df_map_tm_sec.loc[map_share_sec, 'share_code']
df_map_tm_corp.loc[map_share_corp, 'category_code'] = df_map_tm_corp.loc[map_share_corp, 'share_code']

df_map_tm_corp

,fiin_caption,keep,code,category_code,parent_code,en_caption,share_code,vi_caption
0,Tiền và tương đương tiền,0,1,Corp_TM_1,NaN,NaN,NaN,Tiền và tương đương tiền
1,Tiền mặt,1,2,Share_TM_1,BS_110,Holding Cash,Share_TM_1,Tiền mặt
2,Tiền gửi Ngân hàng,1,3,Share_TM_2,BS_110,Bank deposits,Share_TM_2,Tiền gửi Ngân hàng
3,Tiền đang chuyển,0,4,Corp_TM_4,NaN,NaN,NaN,Tiền đang chuyển
4,Tiền và tương đương tiền,0,5,Corp_TM_5,NaN,NaN,NaN,Tiền và tương đương tiền
...,...,...,...,...,...,...,...,...
152,"Chi phí nguyên liệu, vật liệu",0,153,Corp_TM_153,NaN,NaN,NaN,"Chi phí nguyên liệu, vật liệu"
153,Chi phí nhân công,0,154,Corp_TM_154,NaN,NaN,NaN,Chi phí nhân công
154,Chi phí khấu hao tài sản cố định,0,155,Corp_TM_155,NaN,NaN,NaN,Chi phí khấu hao tài sản cố định
155,Chi phí dịch vụ mua ngoài,0,156,Corp_TM_156,NaN,NaN,NaN,Chi phí dịch vụ mua ngoài
156,Chi phí khác bằng tiền,0,157,Corp_TM_157,NaN,NaN,NaN,Chi phí khác bằng tiền

In [46]:
df_map_tm_bank = df_map_tm_bank[['category_code', 'vi_caption', 'en_caption', 'parent_code']]
df_map_tm_sec = df_map_tm_sec[['category_code', 'vi_caption', 'en_caption', 'parent_code']]
df_map_tm_corp = df_map_tm_corp[['category_code', 'vi_caption', 'en_caption', 'parent_code']]

In [47]:
df_map_tm_sec.dropna(subset=['en_caption'], inplace=True)
df_map_tm_bank.dropna(subset=['en_caption'], inplace=True)
df_map_tm_corp.dropna(subset=['en_caption'], inplace=True)

/var/folders/y0/d5yxmby14p1b51jsfj3ml2vr0000gn/T/ipykernel_45577/650795268.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_map_tm_sec.dropna(subset=['en_caption'], inplace=True)
/var/folders/y0/d5yxmby14p1b51jsfj3ml2vr0000gn/T/ipykernel_45577/650795268.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_map_tm_corp.dropna(subset=['en_caption'], inplace=True)

In [48]:
df_map = pd.concat([df_map_tm_bank, df_map_tm_sec, df_map_tm_corp], ignore_index=True)
df_map.drop_duplicates(subset=['category_code'], inplace=True)
df_map['en_caption'] = df_map['en_caption'].apply(lambda x: "(Explaination) " + x)

In [49]:
df_map

,category_code,vi_caption,en_caption,parent_code
0,Bank_TM_2,Chứng khoán nợ,(Explaination) Debt securities,BS_121
1,Bank_TM_8,Chứng khoán vốn,(Explaination) Equity securities,BS_121
2,Bank_TM_12,Chứng khoán kinh doanh khác,(Explaination) Other trading securities,BS_121
3,Bank_TM_13,Dự phòng rủi ro chứng khoán kinh doanh,(Explaination) Provision for trading securitie...,BS_121
4,Bank_TM_17,Tình trạng niêm yết của các chứng khoán k...,(Explaination) Listing status of trading secur...,BS_121
...,...,...,...,...
80,Corp_TM_134,"Lãi tiền gửi, tiền cho vay",(Explaination) Interest income from deposits a...,IS_021
81,Corp_TM_135,"Lãi đầu tư trái phiếu, kỳ phiếu, tín phiếu","(Explaination) Interest income from bonds, pro...",IS_021
82,Corp_TM_136,"Cổ tức, lợi nhuận được chia","(Explaination) Dividends, profit share received",IS_021
83,Corp_TM_137,"Lãi từ bán, thanh lý các khoản đầu tư","(Explaination) Gain from sale, liquidation of ...",IS_021
84,Corp_TM_144,Lãi tiền vay,(Explaination) Loan interest,IS_022

In [ ]:
# df_map.to_csv('../csv/map_category_code_explaination_v3.csv', index=False)

In [50]:
df_map_tm_bank = df_map_tm_bank[['category_code', 'vi_caption', 'en_caption']]
df_map_tm_sec = df_map_tm_sec[['category_code', 'vi_caption', 'en_caption']]
df_map_tm_corp = df_map_tm_corp[['category_code', 'vi_caption', 'en_caption']]

In [51]:
bank_args = {
    
        'nrows': 223,
        'mapping': df_map_tm_bank
    
}

corp_args = {
        'nrows': 161,
        'mapping': df_map_tm_corp
    
    
}

sec_args = {
        'nrows': 646,
        'mapping': df_map_tm_sec
    
}

In [52]:
def get_tm(excel_file, type_):
    if type_ == 'bank':
        args = bank_args
    elif type_ == 'corp':
        args = corp_args
    else:
        args = sec_args
       
    df = excel_file.parse(
        sheet_name = 'Thuyết minh',
        skiprows=10,
        nrows=args['nrows'],
    )
    
    df = df.iloc[3:]
    df.reset_index(drop=True, inplace=True)
    columns = df.columns.tolist()
    columns += args['mapping'].columns.tolist()
    
    df = pd.concat([df, args['mapping']], ignore_index=True, axis=1)
    df.columns = columns
    df.dropna(subset=['vi_caption'], inplace=True)
    df.drop(columns=['Chỉ tiêuTriệu VND'], inplace=True)
    df.reset_index(drop=True, inplace=True)
    
    # df_mapping = args['mapping']
    # df.rename(columns={'Chỉ tiêuTriệu VND': 'vi_caption'}, inplace=True)
    
    columns = df.columns
    get_column = []
    for col in columns:

        if col.isnumeric() or col.split('/')[-1].isnumeric():
            get_column.append(col)
    
    # # df = pd.merge(df, df_mapping, how='left', on='vi_caption')
    # # df.dropna(subset=['category_code'], inplace=True)
    
    
    # # df= df[get_column + ['category_code']]
    
    data = []
    for index, row in df.iterrows():
        for col in get_column:
            data.append([row['category_code'], col, row[col]])
            
            
            
    df = pd.DataFrame(data, columns=['category_code', 'time', 'data'])
    
    
    return df

In [53]:
from tqdm import tqdm
# non_bank_stock_code = ["HSG", "ELC", "VSC", "ACV", "REE", "SZC", "CSV", "PAN", "BSR", "SGP", "GMD", "ITD","FOX", "KDC", "SBT", "VGC", "HBC", "CTD", "DIG", "SCR", "KBC","MWG", "NHA", "VNM", "HPG", "VHM", "PNJ", "YEG", "FPT","MSN", "GAS", "VRE", "VJC", "VIC", "PLX", "SAB", "POW", "GVR", "BCM", "VPI", "DVM", "KDH", "HDC", "TCH", "CEO", "HUT", "NVL", "DBC", "SAF", "DHT", "VTP", "PVT", "FRT", "DGC", "DCM", "NKG", "CMG", "VGI", "PVC", "CAP", "DTD", "HLD", "L14", "L18", "LAS", "LHC", "NTP", "PLC", "PSD", "PVG", "PVS", "SLS", "TIG", "TMB", "TNG", "TVD", "VC3", "VCS", "DXG"]
# bank_stock_code = ["BID", "EIB", "OCB", "CTG", "VCB", "ACB", "MBB", "HDB", "TPB", "VPB",  "STB", "TCB",  "SHB", "VIB", "ABB", "LPB", "NVB"]
# securities_stock_code = ["MBS", "VND", "SSI", "VIX", "ORS"]
# file_dir = "../../fiin/year/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Yearly_{code}_20241218.xlsx"

In [54]:
temp_path = file_dir.format(code='MSB')
excel_file = pd.ExcelFile(temp_path, engine="openpyxl")

In [55]:
df = get_tm(excel_file, 'bank')
df

    category_code  time        data
0       Bank_TM_2  2006         NaN
1       Bank_TM_2  2007         NaN
2       Bank_TM_2  2010         NaN
3       Bank_TM_2  2011         NaN
4       Bank_TM_2  2012         NaN
..            ...   ...         ...
828   Bank_TM_134  2020  35115263.0
829   Bank_TM_134  2021  38426601.0
830   Bank_TM_134  2022  57175663.0
831   Bank_TM_134  2023  56762543.0
832   Bank_TM_134  2024  75407762.0

[833 rows x 3 columns]

In [56]:
dfs_bank = []
for code in tqdm(bank_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_bank_tm = get_tm(excel_file, 'bank')
    df_bank_tm['stock_code'] = code
    dfs_bank.append(df_bank_tm)
df_bank_tm_y = pd.concat(dfs_bank)


dfs_corp = []
for code in tqdm(non_bank_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_corp_tm = get_tm(excel_file, 'corp')
    df_corp_tm['stock_code'] = code
    dfs_corp.append(df_corp_tm)
df_corp_tm_y = pd.concat(dfs_corp)

dfs_sec = []
for code in tqdm(securities_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_sec_tm = get_tm(excel_file, 'sec')
    df_sec_tm['stock_code'] = code
    dfs_sec.append(df_sec_tm)
df_sec_tm_y = pd.concat(dfs_sec)

100%|██████████| 9/9 [00:00<00:00, 42.74it/s]
100%|██████████| 80/80 [00:01<00:00, 71.11it/s]
100%|██████████| 9/9 [00:00<00:00, 28.60it/s]

In [57]:
df_sec_tm_y

    category_code  time        data stock_code
0      Share_TM_1  2008  930.630000        VCI
1      Share_TM_1  2011  327.885867        VCI
2      Share_TM_1  2012  611.331816        VCI
3      Share_TM_1  2013  413.530098        VCI
4      Share_TM_1  2014  677.599956        VCI
..            ...   ...         ...        ...
250    Sec_TM_413  2020    0.000000        AGR
251    Sec_TM_413  2021    0.000000        AGR
252    Sec_TM_413  2022    0.000000        AGR
253    Sec_TM_413  2023    0.000000        AGR
254    Sec_TM_413  2024    0.000000        AGR

[2250 rows x 4 columns]

In [58]:
df_corp_tm_y[df_corp_tm_y['category_code'] == 'Share_TM_3']

    category_code  time          data stock_code
162    Share_TM_3  2007  5.925096e+06        VCG
163    Share_TM_3  2008  6.314442e+06        VCG
164    Share_TM_3  2009  0.000000e+00        VCG
165    Share_TM_3  2010  0.000000e+00        VCG
166    Share_TM_3  2011  7.502687e+06        VCG
..            ...   ...           ...        ...
155    Share_TM_3  2018  1.821853e+04        MAS
156    Share_TM_3  2019  1.006779e+04        MAS
157    Share_TM_3  2020  5.280919e+03        MAS
158    Share_TM_3  2022  0.000000e+00        MAS
159    Share_TM_3  2023  1.907986e+03        MAS

[1231 rows x 4 columns]

In [ ]:
# file_dir = "../../fiin/quarter/FiinProX_DuLieuTaiChinh_BaoCaoTaiChinh_Quarterly_{code}_20241218.xlsx"

In [59]:
dfs_bank_q = []
for code in tqdm(bank_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_bank_tm = get_tm(excel_file, 'bank')
    df_bank_tm['stock_code'] = code
    dfs_bank_q.append(df_bank_tm)
df_bank_tm_q = pd.concat(dfs_bank_q)


dfs_corp_q = []
for code in tqdm(non_bank_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_corp_tm = get_tm(excel_file, 'corp')
    df_corp_tm['stock_code'] = code
    dfs_corp_q.append(df_corp_tm)
df_corp_tm_q = pd.concat(dfs_corp_q)

dfs_sec_q = []
for code in tqdm(securities_stock_code):
    excel_file = pd.ExcelFile(file_dir.format(code=code), engine="openpyxl")
    df_sec_tm = get_tm(excel_file, 'sec')
    df_sec_tm['stock_code'] = code
    dfs_sec_q.append(df_sec_tm)
df_sec_tm_q = pd.concat(dfs_sec_q)

100%|██████████| 9/9 [00:00<00:00, 39.13it/s]
100%|██████████| 80/80 [00:01<00:00, 72.89it/s]
100%|██████████| 9/9 [00:00<00:00, 28.46it/s]

In [60]:
df_sec_tm_q

    category_code  time        data stock_code
0      Share_TM_1  2008  930.630000        VCI
1      Share_TM_1  2011  327.885867        VCI
2      Share_TM_1  2012  611.331816        VCI
3      Share_TM_1  2013  413.530098        VCI
4      Share_TM_1  2014  677.599956        VCI
..            ...   ...         ...        ...
250    Sec_TM_413  2020    0.000000        AGR
251    Sec_TM_413  2021    0.000000        AGR
252    Sec_TM_413  2022    0.000000        AGR
253    Sec_TM_413  2023    0.000000        AGR
254    Sec_TM_413  2024    0.000000        AGR

[2250 rows x 4 columns]

In [61]:
df_sec_tm = pd.concat([df_sec_tm_y, df_sec_tm_q], ignore_index=True)
df_bank_tm = pd.concat([df_bank_tm_y, df_bank_tm_q], ignore_index=True)
df_corp_tm = pd.concat([df_corp_tm_y, df_corp_tm_q], ignore_index=True)

In [62]:
df_sec_tm

     category_code  time        data stock_code
0       Share_TM_1  2008  930.630000        VCI
1       Share_TM_1  2011  327.885867        VCI
2       Share_TM_1  2012  611.331816        VCI
3       Share_TM_1  2013  413.530098        VCI
4       Share_TM_1  2014  677.599956        VCI
...            ...   ...         ...        ...
4495    Sec_TM_413  2020    0.000000        AGR
4496    Sec_TM_413  2021    0.000000        AGR
4497    Sec_TM_413  2022    0.000000        AGR
4498    Sec_TM_413  2023    0.000000        AGR
4499    Sec_TM_413  2024    0.000000        AGR

[4500 rows x 4 columns]

In [63]:
df_bank_tm[df_bank_tm['time']=='category_code']['stock_code'].unique()

array([], dtype=object)

In [64]:
def get_quarter_time(text):
    if '/' not in text:
        return 0, int(text)
    
    quarter, year = text.split('/')
    return int(quarter[1]), int(year)

In [65]:
df_sec_tm['quarter'], df_sec_tm['year'] = zip(*df_sec_tm['time'].apply(get_quarter_time))
df_bank_tm['quarter'], df_bank_tm['year'] = zip(*df_bank_tm['time'].apply(get_quarter_time))
df_corp_tm['quarter'], df_corp_tm['year'] = zip(*df_corp_tm['time'].apply(get_quarter_time))

In [66]:
df_bank_tm

      category_code  time       data stock_code  quarter  year
0         Bank_TM_2  2009        0.0        EVF        0  2009
1         Bank_TM_2  2010        0.0        EVF        0  2010
2         Bank_TM_2  2011        0.0        EVF        0  2011
3         Bank_TM_2  2016        NaN        EVF        0  2016
4         Bank_TM_2  2017        0.0        EVF        0  2017
...             ...   ...        ...        ...      ...   ...
13715   Bank_TM_134  2020  7266680.0        NVB        0  2020
13716   Bank_TM_134  2021  6180429.0        NVB        0  2021
13717   Bank_TM_134  2022  7181103.0        NVB        0  2022
13718   Bank_TM_134  2023  4438471.0        NVB        0  2023
13719   Bank_TM_134  2024        0.0        NVB        0  2024

[13720 rows x 6 columns]

In [68]:
pivot_df = df_bank_tm[df_bank_tm['category_code'].isin(['Bank_TM_68', 'Bank_TM_69', 'Bank_TM_70'])].pivot_table(
    index=["stock_code", "year", "quarter"], 
    columns="category_code", 
    values="data"
).reset_index()

pivot_df['Bank_TM_65'] =  pivot_df['Bank_TM_68'] + pivot_df['Bank_TM_69'] + pivot_df['Bank_TM_70']

new_rows = pivot_df.melt(
    id_vars=["stock_code", "year", "quarter"], 
    value_vars=["Bank_TM_65"], 
    var_name="category_code", 
    value_name="data"
)
df_bank_tm = pd.concat([df_bank_tm, new_rows], ignore_index=True)

In [69]:
df_sec_tm['stock_code'].nunique()

9

In [70]:
df_sec_tm = df_sec_tm[df_sec_tm['year']>=2015]
df_bank_tm = df_bank_tm[df_bank_tm['year']>=2015]
df_corp_tm = df_corp_tm[df_corp_tm['year']>=2015]

In [71]:
quarter_to_month = {
    0: 12,  # Quarter 0 is December of the same year
    1: 3,
    2: 6,
    3: 9,
    4: 12
}
df_sec_tm['date_added'] = pd.to_datetime(df_sec_tm.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))
df_bank_tm['date_added'] = pd.to_datetime(df_bank_tm.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))
df_corp_tm['date_added'] = pd.to_datetime(df_corp_tm.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))

/var/folders/y0/d5yxmby14p1b51jsfj3ml2vr0000gn/T/ipykernel_45577/2778378414.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sec_tm['date_added'] = pd.to_datetime(df_sec_tm.apply(lambda row: f"{row['year']}-{quarter_to_month[row['quarter']]}-30", axis=1))

In [72]:
df_sec_tm.drop(columns=['time'], inplace=True)
df_bank_tm.drop(columns=['time'], inplace=True)
df_corp_tm.drop(columns=['time'], inplace=True)

/var/folders/y0/d5yxmby14p1b51jsfj3ml2vr0000gn/T/ipykernel_45577/1677153949.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sec_tm.drop(columns=['time'], inplace=True)

In [73]:
df_corp_tm[df_corp_tm['category_code'] == 'Share_TM_3']

      category_code          data stock_code  quarter  year date_added
170      Share_TM_3  2.071347e+06        VCG        0  2015 2015-12-30
171      Share_TM_3  2.106852e+06        VCG        0  2016 2016-12-30
172      Share_TM_3  1.694560e+06        VCG        0  2017 2017-12-30
173      Share_TM_3  1.653704e+06        VCG        0  2018 2018-12-30
174      Share_TM_3  2.442078e+06        VCG        0  2019 2019-12-30
...             ...           ...        ...      ...   ...        ...
51521    Share_TM_3  1.821853e+04        MAS        0  2018 2018-12-30
51522    Share_TM_3  1.006779e+04        MAS        0  2019 2019-12-30
51523    Share_TM_3  5.280919e+03        MAS        0  2020 2020-12-30
51524    Share_TM_3  0.000000e+00        MAS        0  2022 2022-12-30
51525    Share_TM_3  1.907986e+03        MAS        0  2023 2023-12-30

[1502 rows x 6 columns]

In [74]:
df_sec_tm.fillna(0, inplace=True)
df_bank_tm.fillna(0, inplace=True)
df_corp_tm.fillna(0, inplace=True)

/var/folders/y0/d5yxmby14p1b51jsfj3ml2vr0000gn/T/ipykernel_45577/2735295843.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sec_tm.fillna(0, inplace=True)

In [75]:
df_sec_tm.to_parquet('../csv/new/v3/securities_explaination.parquet', index=False)
df_bank_tm.to_parquet('../csv/new/v3/bank_explaination.parquet', index=False)
df_corp_tm.to_parquet('../csv/new/v3/corp_explaination.parquet', index=False)

In [ ]:
df_tm = pd.concat([df_sec_tm, df_bank_tm, df_corp_tm], ignore_index=True)
df_tm.to_parquet('../data/financial_statement_explaination_v3.parquet', index=False)